html {
	font-size: 100%;
}

body {
	color: var( --color-base );
	font-size: var( --font-size-small );
	margin: var( --spacing-0 );
	font-family: var( --font-family-base );
}

.banner {
	width: var( --size-full );
	box-sizing: border-box;
	min-height: 500px;
	background: var( --background-color-neutral );
}

.header {
	width: var( --size-full );
	box-sizing: border-box;
	height: var( --size-400 );
	padding: var( --spacing-100 ) var( --spacing-0 );
	margin-left: auto;
	margin-right: auto;
}

@media only screen and ( max-width: 768px ) {
	.header {
		margin-left: var( --spacing-0 );
	}
}

.title {
	width: var( --size-full );
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	padding-left: var( --spacing-200 );
	max-width: 1067px;
}

@media only screen and ( max-width: 768px ) {
	.title {
		padding-left: var( --spacing-125 );
	}
}

.title-image-wrapper {
	width: var( --spacing-250 );
	height: var( --spacing-250 );
}

.title-image {
	width: var( --spacing-250 );
	height: var( --spacing-250 );
}

.title-text {
	width: var( --size-800 );
	margin: var( --spacing-50 );
	font-weight: var( --font-weight-bold );
	font-size: var( --font-size-large );
	text-align: left;
}

.welcome {
	max-width: 996px;
	margin: var( --spacing-400 ) auto;
	display: flex;
	flex-direction: row;
	gap: 100px;
}

@media only screen and ( max-width: 768px ) {
	.welcome {
		max-width: 90%;
		flex-direction: column;
		align-items: center;
		margin: var( --spacing-125 ) auto;
		gap: var( --spacing-150 );
	}
}

.welcome-message-wrapper {
	min-height: var( --size-1600 );
	display: flex;
	flex-direction: column;
}

@media only screen and ( min-width: 768px ) {
	.welcome-message-wrapper {
		flex: 1 0 var( --size-3200 );
	}
}

.welcome-message {
	margin-bottom: var( --spacing-150 );
	font-weight: var( --font-weight-bold );
	font-size: var( --font-size-xx-large );
	text-align: left;
}

.welcome-message-subtext {
	font-size: var( --font-size-xx-large );
	text-align: left;
}

.welcome-image {
	width: 280px;
	height: 250px;
}

@media ( prefers-color-scheme: dark ) {
	.welcome-image {
		filter: invert( 100% );
	}
}

@media only screen and ( max-width: 768px ) {
	.welcome-image {
		width: 200px;
	}
}

.our-projects-wrapper {
	width: var( --size-full );
	box-sizing: border-box;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1067px;
	padding-left: var( --spacing-200 );
}

@media only screen and ( max-width: 768px ) {
	.our-projects-wrapper {
		margin-top: var( --spacing-250 );
		margin-left: var( --spacing-0 );
		padding-left: var( --spacing-125 );
	}
}

.our-projects {
	max-width: 996px;
	min-height: 90px;
}

@media only screen and ( max-width: 768px ) {
	.our-projects {
		max-width: 90%;
	}
}

.our-projects-title-wrapper {
	height: var( --size-150 );
	margin-top: var( --spacing-50 );
	margin-bottom: var( --spacing-150 );
}

.our-projects-title {
	width: var( --size-800 );
	font-weight: var( --font-weight-bold );
	font-size: var( --font-size-x-large );
	text-align: center;
}

.our-projects-desc-wrapper {
	min-height: var( --size-300 );
	margin-top: var( --spacing-50 );
	margin-bottom: var( --spacing-50 );
}

@media only screen and ( max-width: 768px ) {
	.our-projects-desc-wrapper {
		margin-right: var( --spacing-250 );
	}
}

.our-projects-desc {
	font-size: var( --font-size-medium );
	text-align: left;
}

.wmf {
	min-height: var( --size-300 );
}

.wmf-wrapper {
	width: var( --size-full );
	box-sizing: border-box;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1067px;
	padding-left: var( --spacing-200 );
}

@media only screen and ( max-width: 768px ) {
	.wmf-wrapper {
		margin-left: var( --spacing-0 );
		padding-left: var( --spacing-125 );
	}
}

.wmf-desc {
	font-size: var( --font-size-medium );
}

@media only screen and ( max-width: 768px ) {
	.wmf-desc {
		margin-right: var( --spacing-250 );
	}
}

.project-list {
	width: var( --size-full );
	box-sizing: border-box;
	margin-bottom: var( --spacing-250 );
	margin-left: auto;
	margin-right: auto;
	max-width: 1067px;
	padding-left: var( --spacing-200 );
}

@media only screen and ( max-width: 768px ) {
	.project-list {
		margin-left: var( --spacing-0 );
		padding-left: var( --spacing-125 );
	}
}

.project-group {
	max-width: 996px;
	margin-top: var( --spacing-200 );
	margin-bottom: var( --spacing-200 );
}

.project-row {
	max-width: 996px;
	margin-bottom: var( --spacing-100 );
	display: flex;
	flex-flow: row wrap;
}

@media only screen and ( max-width: 768px ) {
	.project-row {
		flex-direction: column;
	}
}

.project-wrapper {
	width: 230px;
	margin: var( --spacing-150 ) var( --spacing-35 );
	display: flex;
	flex-direction: row;
}

@media only screen and ( max-width: 768px ) {
	.project-wrapper {
		width: var( --size-full );
		box-sizing: border-box;
	}
}

.project-block {
	margin: var( --spacing-25 );
	margin-left: var( --spacing-75 );
}

@media only screen and ( min-width: 768px ) {
	width: 170px;
}

.project-name-wrapper {
	width: 170px;
	height: var( --size-150 );
}

.project-name {
	width: var( --size-400 );
	color: var( --color-progressive );
	font-size: var( --font-size-medium );
	text-align: left;
}

.project-tagline {
	color: var( --color-notice );
	font-size: var( --font-size-small );
	text-align: left;
}

.project-group-tagline {
	font-weight: var( --font-weight-bold );
	font-size: var( --font-size-medium );
	text-align: left;
}

.project-logo {
	width: var( --size-300 );
	height: var( --size-300 );
}

.donate-bar {
	width: var( --size-full );
	box-sizing: border-box;
	background: var( --background-color-progressive-subtle );
	padding-top: var( --spacing-400 );
	padding-bottom: var( --spacing-400 );
}

@media only screen and ( max-width: 768px ) {
	.donate-bar {
		padding-top: var( --spacing-200 );
		padding-bottom: var( --spacing-200 );
	}
}

.donate {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	max-width: 1067px;
	gap: 100px;
}

@media only screen and ( max-width: 768px ) {
	.donate {
		margin-left: var( --spacing-0 );
		flex-direction: column;
		gap: var( --spacing-150 );
	}
}

.donate-image {
	width: 250px;
	margin-left: var( --spacing-200 );
}

@media ( prefers-color-scheme: dark ) {
	.donate-image {
		filter: invert( 100% );
	}
}

@media only screen and ( max-width: 768px ) {
	.donate-image {
		width: 200px;
	}
}

.donate-block-wrapper {
	max-width: 599px;
	min-height: 166px;
	margin-left: var( --spacing-200 );
	margin-right: var( --spacing-200 );
}

.donate-block {
	min-height: var( --size-800 );
	margin: var( --spacing-150 );
	display: flex;
	flex-direction: column;
}

@media only screen and ( max-width: 768px ) {
	.donate-block {
		margin: var( --spacing-0 );
	}
}

.donate-title {
	font-weight: var( --font-weight-bold );
	font-size: var( --font-size-x-large );
	text-align: left;
}

.donate-button {
	color: #fff;
	font-weight: var( --font-weight-bold );
	padding: 5px 11px 5px 11px;
	min-height: var( --min-size-interactive-pointer );
	display: flex inline;
	flex-direction: row;
	gap: var( --spacing-75 );
	margin-top: var( --spacing-75 );
	align-items: center;
}

.donate-button:visited {
	color: #fff;
}

.donate-emoji {
	background: url( portal/wikimedia.org/assets/img/OOjs_UI_icon_heart-invert.svg );
	min-height: var( --min-size-icon-medium );
	min-width: var( --min-size-icon-medium );
	background-repeat: no-repeat;
}

.contact {
	width: var( --size-full );
	box-sizing: border-box;
	padding-top: var( --spacing-150 );
	padding-bottom: var( --spacing-150 );
	padding-left: var( --spacing-200 );
	margin: var( --spacing-200 ) auto;
	max-width: 1067px;
}

@media only screen and ( max-width: 768px ) {
	.contact {
		margin-left: var( --spacing-0 );
		padding-left: var( --spacing-125 );
	}
}

.contact-block {
	max-width: 996px;
	margin-bottom: var( --spacing-200 );
}

.contact-wrapper {
	height: var( --size-150 );
	margin-bottom: var( --spacing-150 );
}

.contact-title {
	font-weight: var( --font-weight-bold );
	font-size: var( --font-size-x-large );
	text-align: left;
}

.contact-desc {
	max-width: 996px;
	font-size: var( --font-size-medium );
	text-align: left;
}

.site-license small,
.site-license small::after {
	font-size: var( --font-size-small );
}
