._*
.DS_Store
node_modules
.idea
cache
src/wikipedia.org/index.html
src/wikipedia.org/assets/l10n/*
build/config.gypi
data/site-stats.json
src/wikipedia.org/assets/css/sprite.css
src/wikipedia.org/assets/css/style.css
src/wikipedia.org/assets/img/sprite-*
src/wikipedia.org/assets/img/sprite-*
src/wikipedia.org/assets/rev-manifest.json
