<!DOCTYPE html>
<html lang="mul" dir="ltr">
<head>
<meta charset="utf-8">
<title>Wikipedia</title>
<!--[if lt IE 7]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
<link rel="apple-touch-icon" href="/static/apple-touch/wikipedia.png">
<link rel="shortcut icon" href="/static/favicon/wikipedia.ico">
<link rel="license" href="//creativecommons.org/licenses/by-sa/3.0/">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/sprites.css">

</head>
<body id="www-wikipedia-org">

{{> header-logo}}
{{> top10}}

<!-- Search form -->
{{> search}}

{{> divider}}

{{> top-n-articles}}

<!-- Other languages -->
{{> other-languages}}

{{> divider}}

<!-- Other projects -->
{{> other-projects}}

<!-- Site info -->
{{> site-info}}

{{> footer-links}}

<![if gt IE 7]>
<!-- build:js portal/wikipedia.org/assets/js/index.js -->
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/event-logging-lite.js"></script>
<script src="assets/js/wm-test.js"></script>
<script src="assets/js/mediawiki.lite.js"></script>
<script src="assets/js/wm-typeahead.js"></script>
<script src="assets/js/underscore.partial.js"></script>
<script src="assets/js/wikipedia-org-event-logging.js"></script>
<script src="assets/js/wm-portal.js"></script>
<script src="assets/js/pab2.js"></script>
<!-- endbuild -->
<![endif]>

<![if gt IE 9]>
<!-- build:js portal/wikipedia.org/assets/js/gt-ie9.js -->
<script src="assets/js/search-language-picker.js"></script>
<!-- endbuild -->
<![endif]>
<![if lte IE 9]>
<style>
    .styled-select {
        display: block;
    }
</style>
<![endif]>

</body>
</html>
