<!DOCTYPE html>
<html lang="mul" dir="ltr" class="no-js">
<head>
<meta charset="utf-8">
<title>Wikipedia</title>

<![if gt IE 7]>
<script>
    document.documentElement.className = document.documentElement.className.replace( /(^|\s)no-js(\s|$)/, "$1js-enabled$2" );
</script>
<![endif]>

<!--[if lt IE 7]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
<link rel="apple-touch-icon" href="/static/apple-touch/wikipedia.png">
<link rel="shortcut icon" href="/static/favicon/wikipedia.ico">
<link rel="license" href="//creativecommons.org/licenses/by-sa/3.0/">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/sprites.css">
</head>

<body id="www-wikipedia-org">

{{> header-logo}}

{{> top10}}

<!-- Search form -->
{{> search}}

{{> divider}}

<div id="js-lang-list-container" class="lang-list-container">

    {{> language-list-button }}
    <div id="js-lang-lists" class="lang-lists">
        {{> top-n-articles}}
        <!-- Other languages -->
        {{> other-languages}}
    </div>

    <div id="js-down-arrow" class="up-arrow-container">
        <div class="up-arrow sprite-bookshelf_icons sprite-bookshelf_icons-arrow-up-white"></div>
    </div>

</div>

{{> divider}}

{{> footer}}

{{> site-license }}

<![if gt IE 7]>
<script>
    var translationsHash = "{{ translationChecksum }}";
</script>

<!-- build:js portal/wikipedia.org/assets/js/index.js -->

<!-- utilities or polyfills -->
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/underscore.partial.js"></script>
<script src="assets/js/mediawiki.lite.js"></script>

<!-- event logging & AB testing -->
<script src="assets/js/seedrandom.js"></script>
<script src="assets/js/event-logging-lite.js"></script>
<script src="assets/js/wm-test.js"></script>
<script src="assets/js/wikipedia-org-event-logging.js"></script>

<!-- page features -->
<script src="assets/js/wm-typeahead.js"></script>
<script src="assets/js/typeahead-init.js"></script>
<script src="assets/js/topten-localized.js"></script>
<script src="assets/js/wm-portal.js"></script>

<!-- endbuild -->
<![endif]>

<![if gt IE 9]>
<!-- build:js portal/wikipedia.org/assets/js/gt-ie9.js -->
<script src="assets/js/search-language-picker.js"></script>
<!-- endbuild -->
<![endif]>
<![if lte IE 9]>
<style>
    .styled-select {
        display: block;
    }
</style>
<![endif]>

</body>
</html>
