<div class="footer-sidebar app-badges">
    <div class="footer-sidebar-content">
        <div class="footer-sidebar-text">
            <div class="footer-sidebar-icon sprite svg-wikipedia_app_tile"></div>

            <strong class="jsl10n" data-jsl10n="app-links.title">
				<a class="jsl10n" data-jsl10n="app-links.url" href="https://en.wikipedia.org/wiki/List_of_Wikipedia_mobile_applications">
					Download Wikipedia for Android or iOS
				</a>
			</strong>
			<p class="jsl10n" data-jsl10n="app-links.description" class="footer-sidebar-text">
				Save your favorite articles to read offline, sync your reading lists across devices and customize your reading experience with the official Wikipedia app.
			</p>

            <ul>
				<li class="app-badge app-badge-android">
                    <a target="_blank" href="//play.google.com/store/apps/details?id=org.wikipedia&referrer=utm_source%3Dportal%26utm_medium%3Dbutton%26anid%3Dadmob">
						<span class="sprite svg-badge_google_play_store">
					</a>
                </li>
                <li class="app-badge app-badge-ios">
                    <a target="_blank" href="//itunes.apple.com/app/apple-store/id324715238?pt=208305&ct=portal&mt=8">
						<span class="sprite svg-badge_ios_app_store">
					</a>
                </li>
            </ul>
        </div>
    </div>
</div>
