<div id="portalBanner_frFR_2019-10_bdr_control" class="banner-container">
	<div class="banner banner--is-fixed banner--is-fixed-left">
		<div class="banner__close" tabindex="0">
			<svg class="banner__close-icon" aria-labelledby="banner__close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"/><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"/></g></svg>
		</div>
		<div class="banner__table">
			<div class="banner__cell">
				Si toutes les personnes qui lisent ce message donnaient €2, Wikipédia pourrait continuer à prospérer de nombreuses années.
			</div>
			<div class="banner__cell">
				<a href="#" class="banner__button" title="Donate now">
					Faites un don
				</a>
			</div>
		</div>
	</div>
</div>
<div id="portalBanner_frFR_2019-10_bdr_5px" class="banner-container">
	<div class="banner banner--is-fixed banner--is-fixed-left">
		<div class="banner__close" tabindex="0">
			<svg class="banner__close-icon" aria-labelledby="banner__close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"/><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"/></g></svg>
		</div>
		<div class="banner__table">
			<div class="banner__cell">
				Si toutes les personnes qui lisent ce message donnaient €2, Wikipédia pourrait continuer à prospérer de nombreuses années.
			</div>
			<div class="banner__cell">
				<a href="#" class="banner__button" title="Donate now">
					Faites un don
				</a>
			</div>
		</div>
	</div>
</div>
