<div id="portalBanner_en_2018-12-20_clr_ctrl" class="banner-container">
	<div class="banner banner--is-fixed banner--is-fixed-left">
		<div class="banner__close" tabindex="0">
			<svg class="banner__close-icon" aria-labelledby="banner__close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"/><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"/></g></svg>
		</div>
		<div class="banner__table">
			<div class="banner__cell">
				If everyone reading this gave $3, we could keep Wikipedia thriving for years to come.
			</div>
			<div class="banner__cell">
				<a href="#" class="banner__button" title="Donate now">
					Donate now
				</a>
			</div>
		</div>
	</div>
</div>

<div id="portalBanner_en_2018-12-20_clr_blue" class="banner-container">
	<div class="banner banner--is-fixed banner--is-fixed-left banner--is-blue">
		<div class="banner__close" tabindex="0">
			<svg class="banner__close-icon" aria-labelledby="banner__close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"/><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"/></g></svg>
		</div>
		<div class="banner__table">
			<div class="banner__cell">
				If everyone reading this gave $3, we could keep Wikipedia thriving for years to come.
			</div>
			<div class="banner__cell">
				<a href="#" class="banner__button" title="Donate now">
					Donate now
				</a>
			</div>
		</div>
	</div>
</div>

<div id="portalBanner_en_2018-12-20_clr_red" class="banner-container">
	<div class="banner banner--is-fixed banner--is-fixed-left banner--is-red">
		<div class="banner__close" tabindex="0">
			<svg class="banner__close-icon" aria-labelledby="banner__close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"/><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"/></g></svg>
		</div>
		<div class="banner__table">
			<div class="banner__cell">
				If everyone reading this gave $3, we could keep Wikipedia thriving for years to come.
			</div>
			<div class="banner__cell">
				<a href="#" class="banner__button" title="Donate now">
					Donate now
				</a>
			</div>
		</div>
	</div>
</div>

<div id="portalBanner_en_2018-12-20_clr_yellow" class="banner-container">
	<div class="banner banner--is-fixed banner--is-fixed-left banner--is-yellow">
		<div class="banner__close" tabindex="0">
			<svg class="banner__close-icon" aria-labelledby="banner__close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"/><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"/></g></svg>
		</div>
		<div class="banner__table">
			<div class="banner__cell">
				If everyone reading this gave $3, we could keep Wikipedia thriving for years to come.
			</div>
			<div class="banner__cell">
				<a href="#" class="banner__button" title="Donate now">
					Donate now
				</a>
			</div>
		</div>
	</div>
</div>

<div id="portalBanner_en_2018-12-20_clr_green" class="banner-container">
	<div class="banner banner--is-fixed banner--is-fixed-left banner--is-green">
		<div class="banner__close" tabindex="0">
			<svg class="banner__close-icon" aria-labelledby="banner__close-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"/><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"/></g></svg>
		</div>
		<div class="banner__table">
			<div class="banner__cell">
				If everyone reading this gave $3, we could keep Wikipedia thriving for years to come.
			</div>
			<div class="banner__cell">
				<a href="#" class="banner__button" title="Donate now">
					Donate now
				</a>
			</div>
		</div>
	</div>
</div>
