<div class="footer" data-el-section="other projects">

    <div class="footer-sidebar">
        <div class="footer-sidebar-content">
            <div class="footer-sidebar-icon sprite-project-logos sprite-project-logos-Wikimedia-logo-grey">
            </div>
            <div class="footer-sidebar-text jsl10n" data-jsl10n='footer-description'>
                Wikipedia is hosted by the <a href="//wikimediafoundation.org/">Wikimedia Foundation</a>, a non-profit organization that also hosts a range of other projects.
            </div>
        </div>
    </div>

    {{> app-badges}}

    {{> other-projects}}

    </div>
</div>
