<h1 class="central-textlogo" style="font-variant: small-caps;" alt="WikipediA" title="Wikipedia">
    <div class="central-textlogo__image sprite svg-Wikipedia_wordmark">
        Wikipedia
    </div>
    <strong class="jsl10n localized-slogan" data-jsl10n="slogan" >The Free Encyclopedia</strong>
</h1>
