<h1 class="central-textlogo" style="font-variant: small-caps;">
    <img src="portal/wikipedia.org/assets/img/Wikipedia_wordmark_1x.png" srcset="portal/wikipedia.org/assets/img/Wikipedia_wordmark_1.5x.png 1.5x, portal/wikipedia.org/assets/img/Wikipedia_wordmark_2x.png 2x" width="174" height="30" alt="WikipediA" title="Wikipedia">
</h1>
