<div class="search-container language-search">
    <form action="//incubator.wikimedia.org/w/index.php" method="get" name="searchwiki">
        <input type="hidden" name="title" value="Special:SearchWiki">
        <input type="hidden" name="uselang" value="en">
        <input type="hidden" name="searchproject" value="p">
        <label for="langsearch-input">Find a language:</label>
        <input type="search" name="searchlanguage" id="langsearch-input" value="" dir="auto">
        <input class="formBtn" type="submit" value="  →  ">
    </form>
</div>
