<div class="lang-list-button-wrapper">

<button id='js-lang-list-button' class="lang-list-button">
    <i class="sprite svg-translate-icon"></i>
    <span class="lang-list-button-text jsl10n" data-jsl10n="language-button-text"> Read Wikipedia in your language </span>
    <i class="sprite svg-arrow-down-blue"></i>
</button>

</div>
