<a href="#js-lang-list-button" id='js-lang-list-button' class="pure-button lang-list-button">
    <i class="sprite-bookshelf_icons sprite-bookshelf_icons-translate-icon"></i>
    200+ more languages
    <i class="sprite-bookshelf_icons sprite-bookshelf_icons-arrow-down-blue"></i>
</a>