<div class="lang-list-button-wrapper">

<button id='js-lang-list-button' class="lang-list-button">
    <i class="sprite-bookshelf_icons sprite-bookshelf_icons-translate-icon"></i>
    <span class="lang-list-button-text"> Read Wikipedia in your language </span>
    <i class="sprite-bookshelf_icons sprite-bookshelf_icons-arrow-down-blue"></i>
</button>

</div>
