<div class="otherprojects-item">
    <a href="{{url}}">
        <span class="sprite-project-logos-wrapper">
            <span class="sprite-project-logos sprite-project-logos-{{img1}}" {{#if style}} style="{{style}}"{{/if}}></span>
        </span>
        <span class="otherprojects-item-name">{{name}}</span>
    </a>
</div>