<div id="search-container" class="search-container">

    <form class="search-form" action="//www.wikipedia.org/search-redirect.php" data-el-section="search">
        <fieldset>

            <!-- search-redirect.php is project-independent, requires a family -->
            <input type="hidden" name="family" value="wikipedia">

            <select id="searchLanguage" name="language">
                <!-- 100,000+ content pages, sorted by romanization -->
                {{#each top100000Dropdown}}
                    {{> search.option}}
                {{/each}}
            </select>

            <input id="searchInput" name="search" type="search" size="20" autofocus="autofocus" accesskey="F" dir="auto">

            <button class="formBtn" type="submit" name="go"><img width='12' height='13' src="portal/wikipedia.org/assets/img/12px-Vector_search_icon.svg.png" srcset="portal/wikipedia.org/assets/img/18px-Vector_search_icon.svg.png 1.5x, portal/wikipedia.org/assets/img/24px-Vector_search_icon.svg.png 2x" alt="Search"></button>

            <input type="hidden" value="Go" name="go">

        </fieldset>
    </form>
</div>
