<div id="search-container" class="search-container">

    <form class="search-form" action="//www.wikipedia.org/search-redirect.php" data-el-section="search">
        <fieldset>

            <!-- search-redirect.php is project-independent, requires a family -->
            <input type="hidden" name="family" value="wikipedia">

            <select id="searchLanguage" name="language">
                <!-- 100,000+ content pages, sorted by romanization -->
                {{#each top100000Dropdown}}
                    {{> search.option}}
                {{/each}}
            </select>

            <input id="searchInput" name="search" type="search" size="20" autofocus="autofocus" accesskey="F" dir="auto">

            <button class="formBtn" type="submit" name="go">
                <div class="sprite-bookshelf_icons sprite-bookshelf_icons-search_icon"></div>
            </button>

            <input type="hidden" value="Go" name="go">

        </fieldset>
    </form>
</div>
