<div id="search-container-pab1" class="search-container" style="display: none;">

    <form class="pure-form" action="//www.wikipedia.org/search-redirect.php">
        <fieldset>

            <!-- search-redirect.php is project-independent, requires a family -->
            <input type="hidden" name="family" value="wikipedia">

            <input type="hidden" id="hiddenLanguageInput" name="language" value="en">

            <div class="search-input">
                <input id="searchInput" name="search" type="search" size="20" autofocus="autofocus" accesskey="F" dir="auto" results="10" autocomplete="off" list="suggestions">

                <a class="language-picker" tabindex="-1" href="javascript:void 0"><span id="selectedLanguageCode">EN</span> <i class="icon-caret-down"></i></a>

                <ul id="searchLanguage">
                    <!-- 100,000+ content pages, sorted by romanization -->
                    {{#each top100000Dropdown}}
                        {{> search-pab1.option}}
                    {{/each}}
                </ul>
            </div>

            <button class="pure-button pure-button-primary-progressive" type="submit"><i class="icon-search"></i><span class="btn-text"> Search</span></button>
            <input type="hidden" value="Go" name="go">

        </fieldset>
    </form>
</div>
