<p class="site-license">
    <small class="jsl10n" data-jsl10n="license">This page is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a></small>
    <small class="jsl10n" data-jsl10n="terms" ><a href="//meta.wikimedia.org/wiki/Terms_of_Use">Terms of Use</a></small>
    <small class="jsl10n" data-jsl10n="Privacy Policy"><a href="//meta.wikimedia.org/wiki/Privacy_policy">Privacy Policy</a></small>
</p>
