<div class="wm-site-info">
    <a href="//wikimediafoundation.org/">
        <span class="sprite-project-logos sprite-project-logos-wikimedia-button" style="display:inline-block;vertical-align:middle;"></span>
    </a>
</div>
