<p class="site-license">
    <small>This page is available under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a>.</small>
    <small><a href="//wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use </a></small> &bull;
    <small><a href="//wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy</a></small>
</p>
