<div class="wm-site-info">
    <a href="//wikimediafoundation.org/"><img src="portal/wikipedia.org/assets/img/wikimedia-button.png" srcset="portal/wikipedia.org/assets/img/A_Wikimedia_project_1.5x.png 1.5x, portal/wikipedia.org/assets/img/A_Wikimedia_project_2x.png 2x" width="88" height="31" alt="A Wikimedia Project"></a>
</div>
