<div id="js-survey-banner" class="survey-banner">
    <div id="js-survey-hide-banner" class="survey-banner-close-button">&times;</div>
    <div class="survey-banner-content">
        <span class="survey-banner-cta">
            Let us know what brings you to Wikipedia.org! <span class="survey-banner-text-grey">Give us your feedback.</span>
        </span>
        <a target="_blank" href="https://wikimedia.qualtrics.com/SE/?SID=SV_bkDQpy7MQMfTmAJ" class="survey-banner-button pure-button">
            Feedback
        </a>
    </div>
    <small class="survey-banner-privacy">
        Survey data handled by a <a target="_blank" href="https://www.qualtrics.com/privacy-statement/">third party</a>.
        <a target="_blank" href="https://wikimediafoundation.org/wiki/Wikipedia_Portal_Survey_Privacy_Statement">Privacy Statement</a>
    </small>
</div>
