<!-- Bookshelves -->
<h2 class="bookshelf-container">
    <span class="bookshelf">
        <span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 360px /* 9 * 40 */;"></span><span class="text">1&nbsp;000&nbsp;000+</span><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 360px;"></span>
    </span>
</h2>

<!-- 1,000,000+ content pages -->
<div class="langlist langlist-large hlist" data-el-section="secondary links">
    <ul>
    {{#each top1000000Articles}}
        {{> top-n-articles.li}}
    {{/each}}
    </ul>
</div>

<!-- Bookshelves -->
<h2 class="bookshelf-container">
    <span class="bookshelf">
        <span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 280px /* 7 * 40 */;"></span><span class="text">100&nbsp;000+</span><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 280px;"></span>
    </span>
</h2>



<!-- 100,000+ content pages -->
<div class="langlist langlist-large hlist" data-el-section="secondary links">
    <ul>
        {{#each top100000Articles}}
            {{> top-n-articles.li}}
        {{/each }}
    </ul>
</div>

<!-- Bookshelves -->
<h2 class="bookshelf-container">
    <span class="bookshelf"><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 200px /* 5 * 40 */;"></span><span class="text">10&nbsp;000+</span><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 200px;"></span></span>
</h2>

<!-- 10,000+ content pages -->
<div class="langlist hlist" data-el-section="secondary links">
    <ul>
        {{#each top10000Articles}}
            {{> top-n-articles.li}}
        {{/each}}
    </ul>
</div>

<!-- Bookshelves -->
<h2 class="bookshelf-container">
    <span class="bookshelf"><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 120px /* 3 * 40 */;"></span><span class="text">1&nbsp;000+</span><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 120px;"></span></span>
</h2>

<!-- 1,000+ content pages -->
<div class="langlist hlist" data-el-section="secondary links">
    <ul>
        {{#each top1000Articles}}
            {{> top-n-articles.li}}
        {{/each}}
    </ul>
</div>

<!-- Bookshelves -->
<h2 class="bookshelf-container">
    <span class="bookshelf"><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 40px /* 1 * 40 */;"></span><span class="text">100+</span><span class="sprite-bookshelf_icons sprite-bookshelf_icons-Bookshelf bookend" style="width: 40px;"></span></span>
</h2>

<!-- 100+ content pages -->
<div class="langlist langlist-tiny hlist" data-el-section="secondary links">
    <ul>
        {{#each top100Articles}}
            {{> top-n-articles.li}}
        {{/each}}
    </ul>
</div>
