<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Wikimedia</title>
<meta name="description" content="The Wikimedia movement is a global community of people, projects, and activities working together to create and share knowledge freely.">
<meta name="robots" content="index, follow">
<link rel="apple-touch-icon" href="https://foundation.wikimedia.org/favicon.ico">
<link rel="shortcut icon" href="https://foundation.wikimedia.org/favicon.ico">
<link rel="copyright" href="https://creativecommons.org/licenses/by-sa/4.0/">
<link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
        <div class="banner">
            <div class="header">
                <div class="title">
                    <div class="title-image-wrapper">
                        <img class="title-image" src="portal/wikimedia.org/assets/img/wikimedia_logo.png" />
                    </div><span class="title-text jsl10n" data-jsl10n="wikimedia">Wikimedia</span></div>
            </div>
            <div class="welcome">
                <div class="welcome-message-wrapper"><span class="welcome-message jsl10n" data-jsl10n="wikimedia-org-welcome">Welcome! The Wikimedia movement is a global community of people, projects, and activities working together to create and share knowledge freely. </span><span class="welcome-message-subtext jsl10n" data-jsl10n="wikimedia-org-welcome-subtitle">Join us in making all knowledge available to everyone, everywhere.</span></div>
                <img class="welcome-image" src="portal/wikimedia.org/assets/img/Book_fields_of_study.png" />
            </div>
        </div>
        <div class="our-projects-wrapper">
            <div class="our-projects">
                <div class="our-projects-title-wrapper"><span class="our-projects-title jsl10n" data-jsl10n="wikimedia-org-our-projects">Our Projects</span></div>
                <div class="our-projects-desc-wrapper"><span class="our-projects-desc jsl10n" data-jsl10n="wikimedia-org-our-projects-desc">Our projects are the core of the <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_movement">Wikimedia movement</a>. All major projects are operated by the <a href="https://wikimediafoundation.org/">Wikimedia Foundation</a>, and the content is collaboratively developed by over 260,000 users worldwide using the <a href="https://www.mediawiki.org/">MediaWiki</a> software.</span></div>
                <div class="wmf">
                    <div class="wmf-block">
                        <div class="wmf-desc-wrapper"><span class="wmf-desc jsl10n" data-jsl10n="wikimedia-org-wmf">The <a href="https://wikimediafoundation.org/">Wikimedia Foundation</a> is the non-profit organization that hosts all Wikimedia projects and supports communities all over the world who create and curate freely accessible content.</span></div>
                    </div>
                    <img class="wmf-image" src="portal/wikimedia.org/assets/img/wmf.png" />
                </div>
            </div>
        </div>
        <div class="project-list">
            <div class="project-group">
                <div class="project-group-tagline-wrapper"><span class="project-group-tagline jsl10n" data-jsl10n="wikimedia-org-projects-reference">Reference</span></div>
                <div class="project-row">
                    <a href="https://www.wikipedia.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikipedia-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wiki.name">Wikipedia</span></div><span class="project-tagline jsl10n" data-jsl10n="wiki.slogan">The Free Encyclopedia</span></div>
                    </a>
                    <a href="https://www.wiktionary.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wiktionary-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wiktionary.name">Wiktionary</span></div><span class="project-tagline jsl10n" data-jsl10n="wiktionary.slogan">Free dictionary</span></div>
                    </a>
                    <a href="https://www.wikiquote.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikiquote-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikiquote.name">Wikiquote</span></div><span class="project-tagline jsl10n" data-jsl10n="wikiquote.slogan">Free quote compendium</span></div>
                    </a>
                    <a href="https://www.wikibooks.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikibooks-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikibooks.name">Wikibooks</span></div><span class="project-tagline jsl10n" data-jsl10n="wikibooks.slogan">Free textbooks</span></div>
                    </a>
                </div>
            </div>
            <div class="project-group">
                <div class="project-group-tagline-wrapper"><span class="project-group-tagline jsl10n" data-jsl10n="wikimedia-org-projects-collections">Collections</span></div>
                <div class="project-row">
                    <a href="https://commons.wikimedia.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Commons-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="commons.name">Commons</span></div><span class="project-tagline jsl10n" data-jsl10n="commons.slogan">Free media collection</span></div>
                    </a>
                    <a href="https://www.wikisource.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikisource-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikisource.name">Wikisource</span></div><span class="project-tagline jsl10n" data-jsl10n="wikisource.slogan">Free content library</span></div>
                    </a>
                    <a href="https://www.wikiversity.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikiversity-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikiversity.name">Wikiversity</span></div><span class="project-tagline jsl10n" data-jsl10n="wikiversity.slogan">Free learning resources</span></div>
                    </a>
                    <a href="https://www.wikispecies.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikispecies-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikispecies.name">Wikispecies</span></div><span class="project-tagline jsl10n" data-jsl10n="wikispecies.slogan">Free content library</span></div>
                    </a>
                </div>
            </div>
            <div class="project-group">
                <div class="project-group-tagline-wrapper"><span class="project-group-tagline jsl10n" data-jsl10n="wikimedia-org-projects-technology">Technology</span></div>
                <div class="project-row">
                    <a href="https://www.wikidata.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikidata-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikidata.name">Wikidata</span></div><span class="project-tagline jsl10n" data-jsl10n="wikidata.slogan">Free knowledge base</span></div>
                    </a>
                    <a href="https://www.wikifunctions.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikifunctions-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikifunctions.name">Wikifunctions</span></div><span class="project-tagline jsl10n" data-jsl10n="wikifunctions.slogan">Free function library</span></div>
                    </a>
                    <a href="https://www.mediawiki.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/MediaWiki-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="mediawiki.name">MediaWiki</span></div><span class="project-tagline jsl10n" data-jsl10n="mediawiki.slogan">Free & open wiki software</span></div>
                    </a>
                </div>
            </div>
            <div class="project-group">
                <div class="project-group-tagline-wrapper"><span class="project-group-tagline jsl10n" data-jsl10n="wikimedia-org-projects-guides">Guides</span></div>
                <div class="project-row">
                    <a href="https://www.wikivoyage.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikivoyage-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikivoyage.name">Wikivoyage</span></div><span class="project-tagline jsl10n" data-jsl10n="wikivoyage.slogan">Free travel guide</span></div>
                    </a>
                    <a href="https://www.wikinews.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Wikinews-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="wikinews.name">Wikinews</span></div><span class="project-tagline jsl10n" data-jsl10n="wikinews.slogan">Free news source</span></div>
                    </a>
                </div>
            </div>
            <div class="project-group">
                <div class="project-group-tagline-wrapper"><span class="project-group-tagline jsl10n" data-jsl10n="wikimedia-org-projects-collaboration">Collaboration</span></div>
                <div class="project-row">
                    <a href="https://meta.wikimedia.org" class="project-wrapper">
                        <img class="project-logo" src="portal/wikimedia.org/assets/img/Meta-Wiki-logo_sister.svg" />
                        <div class="project-block">
                            <div class="project-name-wrapper"><span class="project-name jsl10n" data-jsl10n="metawiki.name">Meta-Wiki</span></div><span class="project-tagline jsl10n" data-jsl10n="metawiki.slogan">Community coordination & documentation</span></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="donate-bar">
            <img class="donate-image" src="portal/wikimedia.org/assets/img/Fields_of_study.png" />
            <div class="donate-block-wrapper">
                <div class="donate-block"><span class="donate-title jsl10n" data-jsl10n="wikimedia-org-donate-title">Your donation protects the human right to free and open knowledge for everyone.</span><span class="donate-desc jsl10n" data-jsl10n="wikimedia-org-donate-subtitle">The Wikimedia projects are powered primarily by donations.</span>
                <div><a href="https://donate.wikimedia.org"><button class="pure-button-primary-progressive donate-button"><span class="donate-emoji"></span><span class="jsl10n" data-jsl10n="wikimedia-org-donate-button">Donate now</span></button></a></div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="contact-block">
                <div class="contact-wrapper"><span class="contact-title jsl10n" data-jsl10n="wikimedia-org-contact">Contact</span></div><span class="contact-desc jsl10n" data-jsl10n="wikimedia-org-contact-text">Questions about the Wikimedia Foundation or Wikimedia projects? Get in touch.</span></div>
            <div class="contact-block"><a href="https://wikimediafoundation.org/about/contact/"><span class="jsl10n" data-jsl10n="wikimedia-org-contact-link">Contact</span></a></div>
        </div>
</body>
{{> divider}}

{{> site-license }}

<script>
    var rtlLangs = {{{rtlLanguagesStringified}}},
    translationsHash = '{{translationChecksum}}',
    /**
     * This variable is used to convert the generic "portal" keyword in the data-jsl10n attributes
     * e.g. 'data-jsl10n="portal.footer-description"' into a portal-specific key, e.g. "wiktionary"
     * for the wiktionary portal.
     */
    translationsPortalKey = 'wikimedia',
    /**
     * The wm-typeahead.js feature is used for search,and it uses domain name for searching. We want domain
     * name to be portal Specific (different for every portal).So by declaring variable 'portalSearchDomain'
     * in index.handlebars we will make this portal Specific.
    **/
    portalSearchDomain = 'wikimedia.org';
    /*
     This object is used by l10n scripts (page-localized.js, topten-localized.js)
     to reveal the page content after l10n json is loaded.
     A timer is also set to prevent JS from hiding page content indefinitelty.
     This script is inlined to safeguard againt script loading errors and placed
     at the top of the page to safeguard against any HTML loading/parsing errors.
    */
    wmL10nVisible = {
        ready: false,
        makeVisible: function(){
            if ( !wmL10nVisible.ready ) {
                wmL10nVisible.ready = true;
                document.body.className += ' jsl10n-visible';
            }
        }
    };
    window.setTimeout( wmL10nVisible.makeVisible, 1000 );
</script>

<!-- build:js assets/js/index.js -->

{{! Utilities or polyfills }}
<script src="../common/assets/js/polyfills.js"></script>
<script src="../common/assets/js/underscore.partial.js"></script>
<script src="../common/assets/js/mediawiki.lite.js"></script>

{{! Event logging & AB testing }}
<script src="../common/assets/js/seedrandom.js"></script>

{{! Page features }}
<script src="../common/assets/js/wm-test.base.js"></script>
<script src="../common/assets/js/page-localized.js"></script>

<!-- endbuild -->