<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Wikimedia</title>
<meta name="description" content="Wikimedia is a global movement whose mission is to bring free educational content to the world.">
<meta name="robots" content="index, follow">
<link rel="apple-touch-icon" href="https://foundation.wikimedia.org/favicon.ico">
<link rel="shortcut icon" href="https://foundation.wikimedia.org/favicon.ico">
<link rel="copyright" href="https://creativecommons.org/licenses/by-sa/4.0/">
<link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
<link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="www-wikimedia-org">
<div id="intro">
    <p><b>Wikimedia</b> is a global <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_movement">movement</a> whose mission is to bring free educational content to the world.</p>
    <p>Through various <a href="https://meta.wikimedia.org/wiki/Our_projects">projects</a>, <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Wikimedia_chapters">chapters</a>, and the support structure of the non-profit Wikimedia Foundation, Wikimedia strives to bring about a world in which every single human being can freely share in the sum of all knowledge.</p>
    <p style="text-align: right;"><b>Welcome to Wikimedia.</b></p>
</div>

<div class="otherprojects">
<div class="otherprojects-item">
    <a href="https://www.wikipedia.org/" title="Wikipedia — The free encyclopedia"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/enwiki.png" srcset="https://wikimedia.org/static/images/project-logos/enwiki-1.5x.png, https://wikimedia.org/static/images/project-logos/enwiki-2x.png 2x" width="135" alt="Wikipedia"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://www.wiktionary.org/" title="Wiktionary — The free dictionary"><span class="icon"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/WiktionaryEn.svg/135px-WiktionaryEn.svg.png" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/WiktionaryEn.svg/203px-WiktionaryEn.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/WiktionaryEn.svg/270px-WiktionaryEn.svg.png 2x" width="135" alt="Wiktionary"></span></a><!-- /static/.../enwiktionary.png is an English-centric logo that doesn’t match the Wiktionary portal’s default logo -->
</div>
<div class="otherprojects-item">
    <a href="https://www.wikiquote.org/" title="Wikiquote — Collection of quotations"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/wikiquote.png" srcset="https://upload.wikimedia.org/wikipedia/meta/7/7a/Wikiquote-logo_project_1.5x.png 1.5x, https://upload.wikimedia.org/wikipedia/meta/5/5b/Wikiquote-logo_project_2x.png 2x" width="135" alt="Wikiquote"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://www.wikibooks.org/" title="Wikibooks — Open-content textbooks"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/wikibooks.png" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikibooks-logo-en-noslogan.svg/203px-Wikibooks-logo-en-noslogan.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikibooks-logo-en-noslogan.svg/270px-Wikibooks-logo-en-noslogan.svg.png 2x" width="135" alt="Wikibooks"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://wikisource.org/" title="Wikisource — The free library"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/wikisource.png" width="123" alt="Wikisource"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://www.wikinews.org/" title="Wikinews — Free content news source"><span class="icon"><img src="https://upload.wikimedia.org/wikinews/en/b/bc/Wiki.png" width="135" alt="Wikinews"></span></a><!-- /static/.../[en]wikinews.png don't exist -->
</div>
<div class="otherprojects-item">
    <a href="https://www.wikiversity.org/" title="Wikiversity — Open learning community"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/enwikiversity.png" width="135" alt="Wikiversity"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://species.wikimedia.org/" title="Wikispecies — The free species directory"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/specieswiki.png" width="125" alt="Wikispecies"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://www.mediawiki.org/" title="MediaWiki software documentation"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/mediawikiwiki.png" width="135" alt="MediaWiki"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://www.wikidata.org/" title="Wikidata — The free knowledge base"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/wikidatawiki.png" width="150" alt="Wikidata"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://commons.wikimedia.org/" title="Wikimedia Commons — Shared media repository"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/commonswiki.png" width="135" alt="Wikimedia Commons"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://www.wikivoyage.org/" title="Wikivoyage — The free, worldwide travel guide"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/wikivoyage.png" width="135" alt="Wikivoyage"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://meta.wikimedia.org/" title="Meta-Wiki — Wikimedia project coordination"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/metawiki.png" srcset="https://wikimedia.org/static/images/project-logos/metawiki-1.5x.png 1.5x, https://wikimedia.org/static/images/project-logos/metawiki-2x.png 2x" width="135" alt="Meta-Wiki"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://incubator.wikimedia.org/" title="Wikimedia Incubator — For language versions in development"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/incubatorwiki.png" width="135" alt="Wikimedia Incubator"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://wikitech.wikimedia.org/" title="Wikimedia Cloud Services"><span class="icon"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Wikimedia_Cloud_Services_logo_with_text.svg/120px-Wikimedia_Cloud_Services_logo_with_text.svg.png" alt="Wikimedia Cloud Services logo"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://wikitech.wikimedia.org/" title="Wikimedia technical infrastructure"><span class="icon"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Wikitech-2021-logo-blue.svg/135px-Wikitech-2021-logo-blue.svg.png" alt="Wikitech logo"></span></a>
</div>
<div class="otherprojects-item">
    <a href="https://wikimediafoundation.org/" title="Free knowledge non-profit organization"><span class="icon"><img src="https://wikimedia.org/static/images/project-logos/foundationwiki.png" srcset="https://wikimedia.org/static/images/project-logos/foundationwiki-1.5x.png 1.5x, https://wikimedia.org/static/images/project-logos/foundationwiki-2x.png 2x" width="135" alt="Wikimedia Foundation"></span></a>
</div>
</div>

{{> divider}}

{{> site-license }}
