/* ::: Central Logo ::: */

/* Section containing the central Wikipedia header */

.central-textlogo {
	margin: 1.875rem 0 0.9375rem 0;
	padding: 0.625rem 0;
	font-family: 'Linux Libertine', 'Hoefler Text', Georgia, 'Times New Roman', Times, serif;
	font-size: 1.875rem;
	font-weight: normal;
	line-height: 2.0625rem;
	text-align: center;
	/* Crossed W in Linux Libertine */
	-moz-font-feature-settings: "ss05=1";
	-moz-font-feature-settings: "ss05";
	-webkit-font-feature-settings: "ss05";
	-ms-font-feature-settings: "ss05";
	font-feature-settings: "ss05";
}

.localized-slogan {
	display: block;
	margin-bottom: -1.25rem;
	/* FIXME replace with var() */
	font-family: 'Linux Libertine', 'Times New Roman', serif;
	font-size: 1rem;
	font-variant: normal;
	font-weight: normal;
}

@media all and ( max-width: 480px ) {
	.central-textlogo {
		position: relative;
		height: 70px;
		margin: 0;
		padding: 0;
		line-height: normal;
		text-align: center;
	}

	.central-textlogo img {
		height: 35px;
		width: auto;
		margin-top: 0.5rem;
	}

	.localized-slogan {
		margin-left: 1.125rem;
	}
}

@media all and ( max-width: 375px ) {
	.central-textlogo {
		display: inline-block;
		left: 84px;
	}
}

@media all and ( max-width: 240px ) {

	.central-textlogo img {
		height: auto;
		width: 100px;
	}
}
