/* ::: Central Features ::: */

/* Section containing the top 10 Wikis and the Wikipedia logo */

.central-featured {
	position: relative;
	height: 32.5rem;
	width: 54.6rem;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.central-featured-logo-wrapper {
	line-height: 31.2rem;
	vertical-align: middle;
}

.central-featured-lang {
	position: absolute;
	width: 15.6rem;
}

/* Make entire block clickable, surpress hover underline */
.central-featured-lang .link-box {
	display: block;
	padding: 0;
	text-decoration: none;
	white-space: normal;
}

/* Restore underline on main label */
.central-featured-lang .link-box:hover strong {
	text-decoration: underline;
}

/* Surpress blue color */
/* FIXME it seems there is no .link-box em */
.central-featured-lang .link-box em,
.central-featured-lang .link-box small {
	color: var( --wmui-color-base0 );
	text-decoration: none;
}

.central-featured-lang strong {
	display: block;
	font-size: larger;
}

.central-featured-lang small {
	display: inline-block;
	font-size: 1.104rem;
	line-height: 1.036rem;
}

.central-featured-lang em {
	font-style: italic;
}

.central-featured-lang .emNonItalicLang {
	font-style: normal;
}

.lang1 {
	top: 0;
	right: 60%;
}

.lang2 {
	top: 0;
	left: 60%;
}

.lang3 {
	top: 20%;
	right: 70%;
}

.lang4 {
	top: 20%;
	left: 70%;
}

.lang5 {
	top: 40%;
	right: 72%;
}

.lang6 {
	top: 40%;
	left: 72%;
}

.lang7 {
	top: 60%;
	right: 70%;
}

.lang8 {
	top: 60%;
	left: 70%;
}

.lang9 {
	top: 80%;
	right: 60%;
}

.lang10 {
	top: 80%;
	left: 60%;
}

@media all and ( max-width: 480px ) {
	.central-featured {
		width: auto;
		height: auto;
		margin-top: 4.16rem;
		padding-top: 2.08rem;
		font-size: 1.04rem;
		text-align: left;
	}

	.central-featured:after {
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		font-size: 0;
	}

	.central-featured-logo {
		position: absolute;
		top: -70px;
		left: 0.832rem;
		right: 0;
		width: 70px;
		margin-top: -4.16rem;
	}

	.central-featured-lang {
		display: block;
		float: left;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		box-sizing: border-box;
		height: 6.4rem;
		width: 33%;
		margin: 0;
		padding: 0 1.6rem;
		font-size: 1.28rem;
		text-align: center;
	}

	.central-featured-lang strong {
		font-size: 1.28rem;
	}

	.central-featured-lang small {
		font-size: 0.68rem;
		line-height: 1.02rem;
	}
}

@media all and ( max-width: 375px ) {
	.central-featured-lang {
		font-size: 1.12rem;
	}

	.central-featured-lang small {
		font-size: 0.96rem;
		line-height: 1.68rem;
	}
}

@media all and ( max-width: 240px ) {
	.central-featured-lang {
		width: 100%;
	}
}
