/* ::: Central Logo ::: */

/* Section containing the central Wikipedia header */

.central-textlogo {
	margin: 3rem 0 1.5rem 0;
	padding: 1rem 0;
	font-family: 'Linux Libertine', 'Hoefler Text', Georgia, 'Times New Roman', Times, serif;
	font-size: 3rem;
	font-weight: normal;
	line-height: 3.3rem;
	text-align: center;
	/* Crossed W in Linux Libertine */
	-moz-font-feature-settings: "ss05=1";
	-moz-font-feature-settings: "ss05";
	-webkit-font-feature-settings: "ss05";
	-ms-font-feature-settings: "ss05";
	font-feature-settings: "ss05";
}

.localized-slogan {
	display: block;
	margin-bottom: -2rem;
	font-family: var( --font-family-serif );
	font-size: 1.6rem;
	font-variant: normal;
	font-weight: normal;
}

.central-textlogo__image {
	color: transparent;
	display: inline-block;
	overflow: hidden;
	text-indent: -10000px;
}

@media all and ( max-width: 480px ) {
	.central-textlogo {
		position: relative;
		height: 70px;
		margin: 0;
		padding: 0;
		line-height: normal;
		text-align: center;
	}

	.central-textlogo__image {
		margin-top: 0.8rem;
	}

	.localized-slogan {
		margin-left: 1.8rem;
	}
}

@media all and ( max-width: 375px ) {
	.central-textlogo {
		margin-left: 50px;
	}
}

@media all and ( max-width: 240px ) {

	.central-textlogo__image {
		height: auto;
	}
}
