/* ::: Footer ::: */

.footer {
	overflow: hidden;
	max-width: 100%;
    margin: 0 auto;
	/* FIXME why mixing em and rem ? */
    padding: 2.6rem 1em 1em 1em;
    font-size: 0.8rem;
}

.footer:before,
.footer:after {
    content: ' ';
    display: table;
}

.footer:after {
    clear: both;
}

.footer-sidebar {
    width: 30%;
    float: left;
    clear: left;
    margin-bottom: 2rem;
    vertical-align: top;
}

.footer-sidebar-content {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

.footer-sidebar-icon {
    position: absolute;
    top: 0;
    left: 0.5rem;
}

.footer-sidebar-text {
    position: relative;
    margin: 0;
	/* FIXME replace px with rem? */
    padding-left: 60px;
    padding-right: 20px;
	color: var( --ss-c-grey );
}

.privacy-policy-links {
    margin-top: 1em;
}

.privacy-policy-links a {
    display: block;
}

.site-license {
	margin: 0;
	color: var( --ss-c-grey );
	text-align: center;
}

@media screen and ( max-width: 768px ) {

    .footer {
		display: flex;
		flex-direction: column;
        padding-top: 1em;
    }

    .footer .footer-sidebar {
        /* for whatever reason, autoprefixer was
        prefixing these two prefixed properties incorrectly.
        Giving them a x + 1 value, instead of just x.*/
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        order: 1;
    }

    .footer .other-projects {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        order: 2;
    }

    .footer .app-badges {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        order: 3;
    }

    .footer-sidebar {
        width: 100%;
    }

    .footer-sidebar-icon {
		display: block;
        position: relative;
		left: 0;
		/* FIXME replace em with rem? */
        margin: 0 auto 1em auto;
    }

    .footer-sidebar-content {
        max-width: none;
    }

    .footer-sidebar-text {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .privacy-policy-links a {
        display: inline-block;
		/* FIXME replace em with rem? */
        margin: 0 0.5em;
    }
}

@media screen and ( max-width: 480px ) {
    .footer {
		/* FIXME why mixing em and rem? */
        padding: 0.6rem 0.5em 1em 0.5em;
    }
}
