/**
* new portal footer
* https://phabricator.wikimedia.org/T131238
*/

.footer {
    margin: 0 auto;
    padding: 2.6rem 1em 1em 1em;
    font-size: 0.8rem;
    overflow: hidden;
    max-width: 100%;
}
.footer:before,
.footer:after {
    content: ' ';
    display: table;
}

.footer:after {
    clear: both;
}

.footer-sidebar {
    width: 30%;
    float: left;
    clear: left;
    margin-bottom: 2rem;
    vertical-align: top;
}

.footer-sidebar-content {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

.footer-sidebar-icon {
    position: absolute;
    top: 0;
    left: 0.5rem;
}

.footer-sidebar-text {
    position: relative;
    color: var( --ss-c-grey );
    margin: 0;
    padding-left: 60px;
    padding-right: 20px;
}

.privacy-policy-links {
    margin-top: 1em;
}

.privacy-policy-links a {
    display: block;
}

.other-projects {
    width: 70%;
    display: inline-block;
}

.other-project {
    position: relative;
    width: 33%;
    height: 90px;
    float: left;
}

.other-project-link {
    display: inline-block;
    min-height: 50px;
    white-space: nowrap;
    max-width: 100%;
}

.other-project-icon {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.other-project .sprite-project-logos {
    display: inline-block;
}

.other-project-text {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    max-width: 65%; /* approximating the 50px width of the icon */
}

.other-project-title,
.other-project-tagline {
    display: block;
}

.other-project-tagline {
    color: var( --ss-c-grey );
    font-size: 0.95em;
}

@media screen and ( max-width: 768px ) {

    .footer {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
    }

    .footer .footer-sidebar {
        /* for whatever reason, autoprefixer was
        prefixing these two prefixed properties incorrectly.
        Giving them a x + 1 value, instead of just x.*/
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        order: 1;
    }

    .footer .other-projects {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        order: 2;
    }

    .footer .app-badges {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        order: 3;
    }

    .footer-sidebar {
        width: 100%;
    }

    .footer-sidebar-icon {
        position: relative;
        display: block;
        margin: 0 auto 1em auto;
        left: 0;
    }

    .footer-sidebar-content {
        max-width: none;
    }

    .footer-sidebar-text {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .privacy-policy-links a {
        display: inline-block;
        margin: 0 0.5em;
    }

    .other-projects {
        width: 100%;
    }

    .other-project {
        width: 33%;
    }
}

.site-license {
    margin: 0;
    text-align: center;
    color: var( --ss-c-grey );
}

@media screen and ( max-width: 480px ) {
    .footer {
        padding: 0.6rem 0.5em 1em 0.5em;
    }
    .other-project {
        width: 50%;
    }
}

@media screen and ( max-width: 320px ) {
    .other-project-text {
        margin-right: 5px;
        font-size: 0.9em;
    }
}

