/**
===============
IE 6 + 7 Styles
===============
This file is reserved for IE 6 and 7 specific styles.
Please keep these styles to a minimum.

The Star Hack
------------
https://en.wikipedia.org/wiki/CSS_filter#Star_hack
All properties in this file should begin with a * (asterisk)
These properties are parsed by IE6 and 7. All other
browsers interpret these values as invalid CSS.

The reason we don't use conditional IE comments for IE
specific styles is that our build tools, (gulp-rev, gulp-min, gulp-inline etc.)
cannot detect (and therefore cannot inline, minify or version)
files that are placed within HTML comment blocks.
*/

.otherprojects-icon {
    *zoom: 1;
    *display: inline;
}

.suggestion-item {
    *width: auto;
}

.search-container button {
    *display: inline;
}

#searchInput {
    *padding: 8px 0 0 8px;
    *width: 90%;
    *height: 34px;
}

#search-input {
    *display: inline;
}

.langlist ul {
    *text-align: center;
}

.langlist ul li {
    *display: inline !important;
    *padding-left: 5px;
    *padding-right: 5px;
}
