/**
* code used for the following feature
* https://phabricator.wikimedia.org/T140153
*
* The selector ".js-enabled" is appended to the doc body
* to serve styles to js-enabled devices.
* ".lang-list-active" is also appended to body to toggles the language list.
*/

hr {
    border-color: #ccc;
}

.lang-list-container {
    position: relative;
    margin: -1rem auto 3rem;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 0;
    width: 80%;
    background-color: var( --ss-c-grey-hover );
    transition: max-height 0.5s ease-out, visibility 0.5s ease-in 1s;
}

.js-enabled .lang-list-container {
    visibility: hidden;
}

.lang-list-active .lang-list-container,
.no-js .lang-list-container {
    visibility: visible;
    max-height: 10000px;
    transition: max-height 1s ease-in 0.2s, visibility 1s ease-in 0s;
}

.no-js .lang-list-button {
    display: none;
    outline-color: #fff;
}

.lang-list-button-wrapper {
    text-align: center;
}

.lang-list-button {
    display: inline;
    position: relative;
    padding: 0.5em 1em;
    margin: 0 auto;
    color: var( --color-primary );
    font-size: 0.8rem;
    line-height: 1;
    font-weight: normal;
    z-index: 1;
    background-color: var( --background-color-framed );
    border: var( --border-base );
    border-radius: 2px;
    outline: 1rem solid #fff;
    transition: outline-width 0.05s ease-in;
    transition-delay: 0.5s;
}

.lang-list-button:hover {
    background-color: var( --background-color-framed--hover );
    border-color: var( --border-color-base--hover );
}

.lang-list-button:focus {
    border-color: var( --color-primary--focus );
    box-shadow: inset 0 0 0 1px var( --color-primary--focus );
}

.lang-list-active .lang-list-button {
    background-color: var( --background-color-framed--hover );
    border-color: var( --border-color-base--active );
    outline: 1px solid #fff;
    transition-delay: 0s;
}

.lang-list-button-text {
    vertical-align: middle;
    padding: 0 0.5em;
}

.lang-list-button i {
    display: inline-block;
    vertical-align: middle;
}

.no-js .lang-list-button,
.no-js .lang-list-border {
    display: none;
}

.lang-list-border {
    display: block;
    margin: -1rem auto 1rem;
    position: relative;
    max-width: 460px;
    width: 80%;
    height: 1px;
    background-color: #c8ccd1;
    transition: max-width 0.2s ease-out;
    transition-delay: 0.4s;
}

.lang-list-active .lang-list-border {
    max-width: 85%;
    transition-delay: 0s;
}

.no-js .lang-list-content {
    padding: 0;
}

.lang-list-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem 0;
}

.sprite-icons-arrow-down-blue {
    transition: transform 0.2s ease-out;
}

.lang-list-active .sprite-icons-arrow-down-blue {
    transform: rotate( 180deg );
}

.bookshelf-container {
    margin: 1.5rem 0 1rem;
    display: block;
    overflow: visible;
    height: 1px;
}

.bookshelf {
    text-align: center;
    white-space: normal;
    border-top: 1px solid #ddd;
    box-shadow: 0 -1px 0 #fff;
}
.bookshelf span {
    background-color: var( --ss-c-grey-hover );
    position: relative;
    top: -0.7rem;
    font-weight: normal;
}

.langlist {
    text-align: left;
    width: auto;
    margin: 1rem 0;
}

.langlist-large {
    font-size: inherit;
}

.langlist > ul {
    column-width: 7rem;
}

.langlist > ul > li {
    display: block;
    line-height: 1.7;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.no-js .langlist > ul {
    text-align: center;
    list-style-type: circle;
}
.no-js .langlist > ul > li {
    display: inline-block;
    padding: 0 0.5rem;
}

.langlist > ul > li:before {
    content: none;
}

.langlist > ul > li a {
    white-space: normal;
}

.langlist-others > ul {
    column-count: 1;
    text-align: center;

}

.langlist-others > ul li {
    display: inline;
}

.langlist-others > ul li:before {
    content: " · ";
}

.langlist-others > ul li:first-child:before {
    content: none;
}

@media all and ( max-width: 480px ) {

    .langlist {
        font-size: inherit;
    }
    .lang-list-container {
        width: auto;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }
    .bookshelf {
        overflow: visible;
    }

    .central-featured {
        height: auto;
    }

    .central-featured:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .central-featured-lang {
        font-size: 0.8rem;
        width: 33%;
        box-sizing: border-box;
        margin: 0;
        padding: 0 1rem;
        text-align: center;
    }

    .central-featured-lang strong {
        font-size: 0.8rem;
    }
}

@media all and ( max-width: 375px ) {
    .central-featured-lang {
        font-size: 0.7rem;
    }
}
