/**
 * This code was used to localize the top-ten language links
 * for the A/B test titled "A/B test: browser language detection"
 *
 * A/B test documented here:
 * https://www.mediawiki.org/wiki/Wikipedia.org_Portal_A/B_testing
 */

.js-enabled .jsl10n,
.js-enabled .central-featured,
.js-enabled #js-localized-slogan {
    visibility: hidden;
}

.jsl10n-visible .jsl10n {
    visibility: visible;
}

.search-container {
    margin-top: 0;
}

.central-featured {
    height: 25em;
}

.central-featured-logo-wrapper {
    line-height: 24em;
}

.central-featured-lang strong {
    display: block;
}

.localized-slogan {
    font-size: 16px;
    display: block;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: -20px;
    font-family: 'Linux Libertine', 'Times New Roman', serif;
}

@media all and ( max-width: 480px ) {
    .central-textlogo img {
        margin-top: 8px;
    }

    .localized-slogan {
        margin-left: 18px;
    }

    .search-container {
        margin-top: 0;
    }
}
