/* ::: Print stylesheet ::: */

@media print {
	body {
		background-color: transparent;
	}

	a {
		color: var( --wmui-color-base0 ) !important;
		background: none !important;
		padding: 0 !important;
	}

	a:link,
	a:visited {
		color: var( --color-print--visited );
		background: transparent;
	}

	img {
		border: 0;
	}
}
