/* ::: Language lists, bookshelves ::: */

.bookshelf {
	display: block;
	border-top: 1px solid var( --border-color-heading );
	box-shadow: 0 -1px 0 var( --wmui-color-base100 );
	text-align: center;
	white-space: nowrap;
}

.bookshelf span {
	background-color: var( --background-color-framed );
	position: relative;
	top: -1.12rem;
	font-weight: normal;
}

.bookshelf-container {
	display: block;
	overflow: visible;
	height: 1px;
	width: 100%;
	margin: 2.4rem 0 1.6rem;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 2rem;
}

.bookshelf-container .text {
	padding: 0 0.992rem;
}

@media all and ( max-width: 480px ) {

	.bookshelf {
		width: auto;
		left: auto;
	}

	.bookshelf-container {
		text-align: left;
		width: auto;
	}
}
