/* ::: Language lists, bookshelves ::: */

.bookshelf {
	display: block;
	border-top: 1px solid var( --border-color-heading );
	box-shadow: 0 -1px 0 var( --wmui-color-base100 );
	text-align: center;
	white-space: nowrap;
}

.bookshelf span {
	background-color: var( --background-color-framed );
	position: relative;
	top: -1.12rem;
	font-weight: normal;
}

.bookshelf-container {
	display: block;
	overflow: visible;
	height: 1px;
	width: 100%;
	margin: 2.4rem 0 1.6rem;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 2rem;
}

.bookshelf-container .text {
	padding: 0 0.992rem;
}

/* FIXME is .bookend being used somewhere ? */
.bookshelf-container .bookend {
	display: inline-block;
	vertical-align: top;
}

@media all and ( max-width: 480px ) {

	.bookshelf {
		width: auto;
		left: auto;
	}

	.bookshelf-container {
		text-align: left;
		width: auto;
	}

	/* FIXME is .bookend being used somewhere ? */
	.bookshelf-container .bookend {
		width: 40px !important;
	}

	/* FIXME is .bookend being used somewhere ? */
	.bookshelf-container .bookend:last-child {
		display: none;
	}
}

/* stylelint-disable media-feature-name-no-vendor-prefix, media-feature-name-no-unknown */
@media ( -webkit-min-device-pixel-ratio: 1.5 ), ( min--moz-device-pixel-ratio: 1.5 ), ( -o-min-device-pixel-ratio: 3/2 ), ( min-resolution: 1.5dppx ), ( min-resolution: 144dpi ) {
	/* FIXME is .bookend being used somewhere ? */
	.bookshelf-container .bookend {
		background-size: 40px auto;
	}
}

@media ( -webkit-min-device-pixel-ratio: 2 ), ( min--moz-device-pixel-ratio: 2 ), ( -o-min-device-pixel-ratio: 2 ), ( min-resolution: 2dppx ), ( min-resolution: 192dpi ) {
	/* FIXME is .bookend being used somewhere ? */
	.bookshelf-container .bookend {
		background-size: 40px auto;
	}
}
