/**
 * This code was used to localize the top-ten language links
 * for the A/B test titled "A/B test: browser language detection"
 *
 * A/B test documented here:
 * https://www.mediawiki.org/wiki/Wikipedia.org_Portal_A/B_testing
 */

.abtest3 .central-featured {
    visibility: hidden;
}

.abtest3 .search-container {
    margin-top: 0;
}
.abtest3 .central-featured {
    height: 25em;
}

.abtest3 .central-textlogo {
    margin-bottom: 0.5em;
}

.abtest3 .central-featured-logo-wrapper{
    line-height: 24em;
}

.abtest3 .central-featured-lang br,
.abtest3 .central-featured-lang em{
    display: none;
}
.abtest3 .central-featured-lang strong {
    display: block;
}
.abtest3 .localized-slogan{
    font-size: 16px;
    display: block;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: -20px;
    font-family: 'Linux Libertine', 'Times New Roman', serif;
    text-transform: capitalize;
}

@media all and (max-width:480px) {
	.abtest3 .central-textlogo img {
		margin-top: 8px;
	}
	.abtest3 .localized-slogan{
		margin-left: 18px;
	}
    .abtest3 .search-container {
        margin-top: 0;
    }
}