/* ::: Search bar below the central logo area ::: */

.search-container {
	float: none;
	max-width: 95%;
	width: 540px;
	margin: 0 auto 1.95rem auto;
	padding: 0.39rem;
	text-align: center;
	vertical-align: middle;
}

.search-container button {
	margin: 0;
	padding: 0.8rem 1.6rem;
	z-index: var( --ss-button-z-index );
	font-size: 1.6rem;
	line-height: 1.6;
	vertical-align: middle;
}

/*--- CSS tricks to make the search input a simple input */
.search-container input[type="search"]::-webkit-search-decoration,
.search-container input[type="search"]::-webkit-search-cancel-button,
.search-container input[type="search"]::-webkit-search-results-button,
.search-container input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.search-container input::-webkit-calendar-picker-indicator {
	display: none;
}

.search-container .sprite.svg-arrow-down {
	position: absolute;
	top: 0.7rem;
	right: 0.65rem;
	margin: 0;
}

#searchInput {
	/* Support Chrome, Safari 5: Correct the odd appearance */
	-webkit-appearance: textfield;
	width: 100%;
	height: 4.32rem;
	padding: 0.8rem 10.24rem 0.8rem 0.8rem;
	font-size: 1.6rem;
	line-height: 1.6;
	transition: background 100ms ease, border-color 100ms ease, box-shadow 100ms ease;
}

#searchInput:hover {
	border-color: var( --wmui-color-base30 );
}

#searchInput:focus {
	border-color: var( --wmui-color-accent50 );
	box-shadow: var( --box-shadow-base--focus );
	outline: 0;
}

/* Language picker */
.search-container .search-input {
	display: inline-block;
	position: relative;
	width: 73%;
	margin-right: 0.8rem;
	vertical-align: top;
}

/* Responsive mode */
@media only screen and ( max-width: 480px ) {

	.search-container {
		margin-top: 0;
	}

	.search-container .pure-form fieldset {
		margin-left: 0.5rem;
		margin-right: 8rem;
	}

	.search-container .search-input {
		margin-left: 0.5rem;
		margin-right: -7rem;
		margin-bottom: 0;
		width: 100%;
	}

	.search-container .pure-form button {
		float: right;
		right: -7rem;
		margin: 0;
		padding: 0.8rem 1.6rem;
	}
}
