/* ::: Search bar below the central logo area ::: */

.search-container {
	float: none;
	max-width: 95%;
	width: 540px;
	margin: 0.4rem auto 1.95rem auto;
	text-align: center;
	vertical-align: middle;
}

.search-container fieldset {
	/* Workaround for whitespace between `display: inline-block` elements.
	 * Going for `4px` only to be on the safe side, where browsers add 4-5 px.
	 * See https://stackoverflow.com/questions/4767971/how-do-i-center-float-elements
	 */
	word-spacing: -4px;
}

.search-container button {
	margin: 0;
    border-radius: 0 var( --border-radius-base ) var( --border-radius-base ) 0;
	padding: 0.8rem 1.6rem;
	font-size: 1.6rem;
	line-height: 1.6;
	vertical-align: middle;
	z-index: var( --ss-button-z-index );
}

/*--- CSS tricks to make the search input a simple input */
.search-container input[type="search"]::-webkit-search-results-button,
.search-container input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.search-container input::-webkit-calendar-picker-indicator {
	display: none;
}

.search-container .sprite.svg-arrow-down {
	position: absolute;
	top: 0.7rem;
	right: 0.65rem;
	margin: 0;
}

#searchInput {
	/* Support Chrome, Safari 5: Correct the odd appearance */
	-webkit-appearance: textfield;
	width: 100%;
	height: 4.32rem;
    border-radius: var( --border-radius-base ) 0 0 var( --border-radius-base );
	padding: 0.8rem 10.24rem 0.8rem 0.8rem;
	font-size: 1.6rem;
	line-height: 1.6;
	transition: background 100ms ease, border-color 100ms ease, box-shadow 100ms ease;
}

#searchInput:hover {
	border-color: var( --wmui-color-base30 );
}

#searchInput:focus {
	border-color: var( --wmui-color-accent50 );
	box-shadow: var( --box-shadow-base--focus );
	outline: 0;
}

/* Language picker */
.search-container .search-input {
	display: inline-block;
	position: relative;
	width: 73%;
	vertical-align: top;
}

/* Responsive mode */
@media only screen and ( max-width: 480px ) {
	.search-container .pure-form fieldset {
		margin-left: 1rem;
		margin-right: 6.6rem; /* Equals button width + margin-left above */
	}

	.search-container .search-input {
		width: 100%;
		margin-right: -6.6rem;
	}

	.search-container .pure-form button {
		float: right;
		right: -5.6rem; /* Equals button width */
	}
}
