/**
 * Search bar below the central logo area
 */
.search-container {
    float: none;
    margin: 2.2rem auto 1.5em auto;
    max-width: 95%;
    padding: 0.3em;
    text-align: center;
    vertical-align: middle;
    width: 540px;
 }

#searchInput {
  padding: 0.5rem;
  font-size: 1.00rem;
  line-height: 1.6rem;
  width: 100%;
  padding-right: 6.4rem;
  height: 2.7rem;
  background: var(--ss-c-white-bg);
 }

.search-container button {
    padding: 0.5rem 1rem;
    vertical-align: middle;
    margin: 0;
    line-height: 1.6rem;
    font-size: 1rem;
    z-index: var(--ss-button-z-index);
}

.search-container .sprite-bookshelf_icons-search-icon {
    display: inline-block;
    vertical-align: middle;
}

/*--- CSS tricks to make the search input a simple input */
.search-container input[type="search"]::-webkit-search-decoration,
.search-container input[type="search"]::-webkit-search-cancel-button,
.search-container input[type="search"]::-webkit-search-results-button,
.search-container input[type="search"]::-webkit-search-results-decoration  {
  -webkit-appearance: none;
 }
.search-container input::-webkit-calendar-picker-indicator {
  display: none;
 }
#search {
  -webkit-appearance: none;
  border-radius: 0;
 }

/* Language picker */
.search-container .search-input {
  display: inline-block;
  width: 73%;
  position: relative;
  vertical-align: top;
  margin-right: .5rem;
 }

.search-container .sprite-bookshelf_icons-caretDown {
    display: inline-block;
    vertical-align: middle;

    position: absolute;
    top: 8px;
    right: 6.5px;
    margin: 0;
}

/* Responsive mode */
@media only screen and (max-width: 480px) {

    .search-container .pure-form fieldset {
         margin-left: 5px;
         margin-right: 80px;
     }

    .search-container .search-input {
        margin-left: 5px;
        margin-right: -70px;
        margin-bottom: 0;
        width: 100%;
      }
    .search-container .pure-form button {
        float: right;
        padding: 0.5rem 1rem;
        right: -70px;
        margin:0;
      }
    .search-container {
          margin-top: .2em;
      }
}
