:root {
    /** Mediawiki UI blue, for survey button.**/
    --c-mwui-primary: #347bff;
    --c-mwui-hover: #2962cc;
    --c-mwui-light: #afd3f5;
}

/**
* The survey bumper is a top level element that wraps
* the entire content of the page below the banner.
* This is required because on mobile, the search-box is
* absolutely positioned relative to the body element,
* which means the search-box position is thrown off
* when the banner is visible.
*/
.survey-banner-bumper {
    position: relative;
}

.survey-banner {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var( --ss-c-grey );
    text-align: center;
    z-index: 3;
    color: #fff;
    margin-bottom: 0.2em;
    /* offsetting body margin */
    margin-top: -0.3em;
}

.survey-banner-content {
    padding: 1em;
    margin: 0;
}

.survey-banner-cta {
    font-size: 0.9rem;
    display: inline;
    padding-right: 1em;
}
.survey-banner-text-grey {
    opacity: 0.7;
}

.survey-banner-close-button {
    position: absolute;
    top: 0;
    right: 17px;
    z-index: 1;
    font-size: 1.2rem;
    cursor: pointer;
}
.survey-banner-close-button:hover {
    color: var( --c-mwui-light );
}

.survey-banner-button {
    vertical-align: middle;
    background-color: var( --c-mwui-primary );
    color: inherit;
    border-color: var( --c-mwui-primary );
}

.survey-banner-button:hover {
    background-color: var( --c-mwui-hover );
    border-color: var( --c-mwui-hover );
}
.survey-banner-button:active,
.survey-banner-button:focus {
    color: #fff;
}
.survey-banner-privacy {
    position: absolute;
    right: 2.5rem;
    bottom: 1.3em;
    width: 17em;
    text-align: right;
}

.survey-banner-privacy a {
    color: var( --c-mwui-light );
}

@media ( max-width: 1024px ) {
    .survey-banner-privacy {
        position: relative;
        width: 100%;
        text-align: right;
        display: block;
        bottom: 0.5em;
    }
}

@media ( max-width: 625px ) {
    .survey-banner-content {
        display: table;
        margin-bottom: 0.2em;
        /* accomodates close button */
        margin-right: 27px;
    }
    .survey-banner-cta {
        display: table-cell;
        vertical-align: middle;
        /*font-size: 0.9em;*/
        text-align: left;
    }
    .survey-banner-button {
        display: table-cell;
        vertical-align: middle;
        margin-right: 17px;
    }
}

@media ( max-width: 480px ) {
    .survey-banner-cta {
        font-size: 0.9em;
    }
}
