/*suggestion dropdown*/

.suggestions-dropdown {
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    border: 1px solid #ccc;
    border-top: 0;
    box-sizing: border-box;
    display: inline-block;
}

.suggestion-link {
    color: inherit;
    display: block;
    position: relative;
    width: 100%;
    min-height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    padding: 10px 10px 10px 85px;
    text-decoration: none;
    white-space: normal;
    text-align: initial;
}

.suggestion-link.active {
    background-color: #eee;
}

/* using element selector to override default anchor styles */
a.suggestion-link:hover {
    color: #0645ad;
    text-decoration: none;
}

a.suggestion-link:active,
a.suggestion-link:focus {
    white-space: normal;
    outline: 0;
}

.suggestion-thumbnail {
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #eee;
    background-image: url( portal/wikipedia.org/assets/img/noimage.png );
    background-image: -webkit-linear-gradient( rgba( 0, 0, 0, 0 ), rgba( 0, 0, 0, 0 ) ), url( data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2056%2056%22%20enable-background%3D%22new%200%200%2056%2056%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23eee%22%20d%3D%22M0%200h56v56h-56z%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23999%22%20d%3D%22M36.4%2013.5h-18.6v24.9c0%201.4.9%202.3%202.3%202.3h18.7v-25c.1-1.4-1-2.2-2.4-2.2zm-6.2%203.5h5.1v6.4h-5.1v-6.4zm-8.8%200h6v1.8h-6v-1.8zm0%204.6h6v1.8h-6v-1.8zm0%2015.5v-1.8h13.8v1.8h-13.8zm13.8-4.5h-13.8v-1.8h13.8v1.8zm0-4.7h-13.8v-1.8h13.8v1.8z%22%2F%3E%0A%3C%2Fsvg%3E%0A );
    background-image: -webkit-linear-gradient( transparent, transparent ), url( portal/wikipedia.org/assets/img/noimage.svg ) !ie;
    background-image: linear-gradient( rgba( 0, 0, 0, 0 ), rgba( 0, 0, 0, 0 ) ), url( data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2056%2056%22%20enable-background%3D%22new%200%200%2056%2056%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23eee%22%20d%3D%22M0%200h56v56h-56z%22%2F%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23999%22%20d%3D%22M36.4%2013.5h-18.6v24.9c0%201.4.9%202.3%202.3%202.3h18.7v-25c.1-1.4-1-2.2-2.4-2.2zm-6.2%203.5h5.1v6.4h-5.1v-6.4zm-8.8%200h6v1.8h-6v-1.8zm0%204.6h6v1.8h-6v-1.8zm0%2015.5v-1.8h13.8v1.8h-13.8zm13.8-4.5h-13.8v-1.8h13.8v1.8zm0-4.7h-13.8v-1.8h13.8v1.8z%22%2F%3E%0A%3C%2Fsvg%3E%0A );
    background-image: linear-gradient( transparent, transparent ), url( portal/wikipedia.org/assets/img/noimage.svg ) !ie;
    background-image: -o-linear-gradient( transparent, transparent ), url( portal/wikipedia.org/assets/img/noimage.png );
}

.suggestion-title {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0 0 0.5em 0;
    color: #555;
}

.suggestion-highlight {
    font-style: normal;
    text-decoration: underline;
}

.suggestion-description {
    font-size: 1em;
    line-height: 1.1em;
    margin: 0;
    color: #666;
}

.search-form {
    position: relative;
}
