
.sprite-icons {
  background-image: url('portal/wikipedia.org/assets/img/sprite-icons.png?27378e2bb51199321b32dd1ac3f5cd755adc21a5');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .sprite-icons {
    background-image: url('portal/wikipedia.org/assets/img/sprite-icons@1.5x.png?8b4adbf1a17a5d1b55e73aa53a5e859294cfe718');
    background-size: 23px 55px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite-icons {
    background-image: url('portal/wikipedia.org/assets/img/sprite-icons@2x.png?896c2ebd1d3ad62927487d7ab07fa88213d5bfe8');
    background-size: 23px 55px;
  }
}

.sprite-icons-arrow-down-blue {
  background-position: -0px -0px;
  width: 9px;
  height: 5px;
}
.sprite-icons-arrow-down {
  background-position: -0px -5px;
  width: 12px;
  height: 12px;
}
.sprite-icons-translate-icon {
  background-position: -0px -17px;
  width: 23px;
  height: 18px;
}
.sprite-icons-search-icon {
  background-position: -0px -35px;
  width: 20px;
  height: 20px;
}

.sprite-project-logos {
  background-image: url('portal/wikipedia.org/assets/img/sprite-project-logos.png?dea6426c061216dfcba1d2d57d33f4ee315df1c2');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .sprite-project-logos {
    background-image: url('portal/wikipedia.org/assets/img/sprite-project-logos@1.5x.png?c7e7dd97044bf399e9b7d70d147c0f35c42c4aa8');
    background-size: 47px 504px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite-project-logos {
    background-image: url('portal/wikipedia.org/assets/img/sprite-project-logos@2x.png?601e923fc4b474342bb07cedd9ecf7ec11da36d4');
    background-size: 47px 504px;
  }
}

.sprite-project-logos-Wikinews-logo_sister {
  background-position: -0px -0px;
  width: 47px;
  height: 26px;
}
.sprite-project-logos-Wikidata-logo_sister {
  background-position: -0px -26px;
  width: 47px;
  height: 27px;
}
.sprite-project-logos-Wikiversity-logo_sister {
  background-position: -0px -52px;
  width: 35px;
  height: 28px;
}
.sprite-project-logos-Wiktionary-logo_sister {
  background-position: -0px -80px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-Wikibooks-logo_sister {
  background-position: -0px -115px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-Wikivoyage-logo_sister {
  background-position: -0px -150px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-Meta-logo_sister {
  background-position: -0px -185px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-MediaWiki-logo_sister {
  background-position: -0px -220px;
  width: 47px;
  height: 36px;
}
.sprite-project-logos-Wikisource-logo_sister {
  background-position: -0px -256px;
  width: 35px;
  height: 37px;
}
.sprite-project-logos-Wikimedia-logo-grey {
  background-position: -0px -292px;
  width: 40px;
  height: 41px;
}
.sprite-project-logos-Wikispecies-logo_sister {
  background-position: -0px -333px;
  width: 35px;
  height: 41px;
}
.sprite-project-logos-Wikiquote-logo_sister {
  background-position: -0px -374px;
  width: 35px;
  height: 42px;
}
.sprite-project-logos-Wikipedia_app_tile {
  background-position: -0px -415px;
  width: 42px;
  height: 42px;
}
.sprite-project-logos-Commons-logo_sister {
  background-position: -0px -457px;
  width: 35px;
  height: 47px;
}
