.sprite-bookshelf_icons {
  background-image: url('portal/wikipedia.org/assets/img/sprite-bookshelf_icons.png?6d7b3229ac88b9bdffe27b5ed9240bb175f62c02');
}
@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  .sprite-bookshelf_icons {
    background-image: url('portal/wikipedia.org/assets/img/sprite-bookshelf_icons@1.5x.png?c4d8b7559766e36db68bab636d0d77979e9ce57a');
    background-size: 41px 104px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .sprite-bookshelf_icons {
    background-image: url('portal/wikipedia.org/assets/img/sprite-bookshelf_icons@2x.png?1a57f31ae0d1ec0c3a0a1eaf1779f87f5498276a');
    background-size: 41px 104px;
  }
}
.sprite-bookshelf_icons-arrow-down-blue {
  background-position: -0px -0px;
  width: 13px;
  height: 9px;
}
.sprite-bookshelf_icons-caretDown {
  background-position: -0px -9px;
  width: 12px;
  height: 12px;
}
.sprite-bookshelf_icons-translate-icon {
  background-position: -0px -21px;
  width: 23px;
  height: 18px;
}
.sprite-bookshelf_icons-Bookshelf {
  background-position: -0px -39px;
  width: 40px;
  height: 20px;
}
.sprite-bookshelf_icons-search-icon {
  background-position: -0px -59px;
  width: 20px;
  height: 20px;
}
.sprite-bookshelf_icons-arrow-up-white {
  background-position: -0px -79px;
  width: 41px;
  height: 25px;
}
.sprite-project-logos {
  background-image: url('portal/wikipedia.org/assets/img/sprite-project-logos.png?9afc01c5efe0a8fb6512c776955e2ad3eb48fbca');
}
@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  .sprite-project-logos {
    background-image: url('portal/wikipedia.org/assets/img/sprite-project-logos@1.5x.png?b10ac92127437fbd9ad1ece6037cd5a8cd29e23f');
    background-size: 88px 493px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .sprite-project-logos {
    background-image: url('portal/wikipedia.org/assets/img/sprite-project-logos@2x.png?fdb87e9e2a190a394445a985875a65c09ea1ca88');
    background-size: 88px 493px;
  }
}
.sprite-project-logos-Wikinews-logo_sister {
  background-position: -0px -0px;
  width: 47px;
  height: 26px;
}
.sprite-project-logos-Wikidata-logo_sister {
  background-position: -0px -26px;
  width: 47px;
  height: 27px;
}
.sprite-project-logos-Wikiversity-logo_sister {
  background-position: -0px -52px;
  width: 35px;
  height: 28px;
}
.sprite-project-logos-wikimedia-button {
  background-position: -0px -80px;
  width: 88px;
  height: 31px;
}
.sprite-project-logos-Wikivoyage-logo_sister {
  background-position: -0px -111px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-Wikibooks-logo_sister {
  background-position: -0px -146px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-Meta-logo_sister {
  background-position: -0px -181px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-Wiktionary-logo_sister {
  background-position: -0px -216px;
  width: 35px;
  height: 35px;
}
.sprite-project-logos-MediaWiki-logo_sister {
  background-position: -0px -251px;
  width: 47px;
  height: 36px;
}
.sprite-project-logos-Wikisource-logo_sister {
  background-position: -0px -287px;
  width: 35px;
  height: 37px;
}
.sprite-project-logos-Wikimedia-logo-grey {
  background-position: -0px -323px;
  width: 40px;
  height: 41px;
}
.sprite-project-logos-Wikispecies-logo_sister {
  background-position: -0px -364px;
  width: 35px;
  height: 41px;
}
.sprite-project-logos-Wikiquote-logo_sister {
  background-position: -0px -405px;
  width: 35px;
  height: 42px;
}
.sprite-project-logos-Commons-logo_sister {
  background-position: -0px -446px;
  width: 35px;
  height: 47px;
}