/* Normalize links */
a { cursor: pointer; }
a:hover, a:active {  text-decoration: none;  }

/* Add margin to the .search-container */
#search-container-pab1.search-container {
  margin-top: 2.2rem;
 }

/* Make the search input and buttons bigger */

#search-container-pab1.search-container input[type="search"]#searchInput {
  padding: 0.5rem 1rem;
  font-size: 1.00rem;
  line-height: 1.6rem;
  width: 100%;
  padding-right: 4rem;
 }
#search-container-pab1.search-container button[type="submit"] {
    padding: 0.5rem 1rem;
    vertical-align: middle;
    margin: 0;
    line-height: 1.6rem;
    font-size: 1rem;
 }

#search-container-pab1.search-container .sprite-bookshelf_icons-search-icon{
    display: inline-block;
    vertical-align: middle;
}


/*--- CSS tricks to make the input a simple input */
/* Removing the padding/indent of input[type="search"] on WebKit browsers */
#search-container-pab1 input[type="search"] {
  -webkit-appearance: textfield;
 }
#search-container-pab1 input[type="search"]::-webkit-search-decoration,
#search-container-pab1 input[type="search"]::-webkit-search-cancel-button,
#search-container-pab1 input[type="search"]::-webkit-search-results-button,
#search-container-pab1 input[type="search"]::-webkit-search-results-decoration  {
  -webkit-appearance: none;
 }
#search-container-pab1 input::-webkit-calendar-picker-indicator {
  display: none;
 }
#search-container-pab1 input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
 }

/* Language picker */
#search-container-pab1 .search-input {
  display: inline-block;
  width: 73%;
  position: relative;
  vertical-align: top;
  margin-right: .5rem;
 }
#search-container-pab1 .search-input .language-picker {
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 12px;
  padding-right: 7px;
  padding-left: 8px;
  color: #969696;
  line-height: 24px;
  border-radius: 4px;
 }
#search-container-pab1 .search-input .language-picker.active {
  background-color: #f2f2f2;
  outline: none;
 }


#search-container-pab1 #searchLanguage {
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 2.6rem;
  max-width: 12rem;
  min-width: 7em;
  text-align: left;
  max-height: 12rem;
  overflow-y: scroll;
  /*border: 1px solid #ccc;*/
  z-index: 2;
  display: none;
  box-shadow: -1px -1px 5px 0px #D0D0D0;
 }
#search-container-pab1 #searchLanguage.open {
  display: block;
 }

/* showing language picker scrollbars */

#search-container-pab1 #searchLanguage::-webkit-scrollbar {
  -webkit-appearance: none;
}

#search-container-pab1 #searchLanguage::-webkit-scrollbar:vertical {
  width: 11px;
}

#search-container-pab1 #searchLanguage::-webkit-scrollbar:horizontal {
  height: 11px;
}

#search-container-pab1 #searchLanguage::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

/* END showing language picker scrollbars */

#search-container-pab1 #searchLanguage.open.dropup {
  top: auto;
  bottom: 40px;
 }

#search-container-pab1 #searchLanguage li {
  padding: 0;
  margin: 0;
 }
#search-container-pab1 #searchLanguage li a {
  padding: 0.2rem .5rem;
  color: #333;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
 }
#search-container-pab1 #searchLanguage li.selected a {
  background: var(--c-primary);
  color: #fff;
 }

#search-container-pab1 .icon-search {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 4px;
    bottom: 0;
}

#search-container-pab1 .sprite-bookshelf_icons-caretDown {
    display: inline-block;
    vertical-align: middle;
}

/* Responsive mode */
@media only screen and (max-width: 480px) {
    #search-container-pab1 .pure-form fieldset {
         margin-left: 5px;
         margin-right: 5px;
     }
    #search-container-pab1 .search-input {
          width: calc(100% - 70px);
          margin-left: 5px;
      }
    #search-container-pab1 button[type=submit] .btn-text {
          display: none;
      }
    #search-container-pab1 .pure-form button[type=submit] {
          margin-top: 0px;
          float: right;
      }
    #search-container-pab1.search-container {
          margin-top: .2em;
      }

    #search-container-pab1.search-container .language-picker {
          top: 10px;
          bottom: 12px;
          right: 10px;
      }
    #search-container-pab1.search-container button[type=submit] i.icon-search {
        height: 24px;
        width: 24px;
        background-size: 100%;
        margin-right: 0;
    }
}

/* This animation is just to flash the text once you selected a different language */
.flash-text {
  -webkit-animation: color-change 1s;
  -moz-animation: color-change 1s;
  -o-animation: color-change 1s;
  -ms-animation: color-change 1s;
  animation: color-change 1s;
 }

@-webkit-keyframes color-change {
    0% { color: #333; }
    100% { color: #969696; }
}
@-moz-keyframes color-change {
    0% { color: #333; }
    100% { color: #969696; }
}
@-ms-keyframes color-change {
    0% { color: #333; }
    100% { color: #969696; }
}
@-o-keyframes color-change {
    0% { color: #333; }
    100% { color: #969696; }
}
@keyframes color-change {
    0% { color: #333; }
    100% { color: #969696; }
}
