/* ::: App badges ::: */

/* Section containing the links to download native mobile apps */

.app-badges .footer-sidebar-content {
	background-color: var( --background-color-code );
}

.app-badges .footer-sidebar-text {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.app-badges .sprite.footer-sidebar-icon {
	top: 0.8rem;
}

.app-badges ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.app-badge {
	display: inline-block;
}

.app-badge a {
	color: transparent;
}

@media screen and ( max-width: 768px ) {
	.app-badges .footer-sidebar-content {
		text-align: center;
	}

	.app-badges .sprite.footer-sidebar-icon {
		display: inline-block;
		position: relative;
		margin: 0;
		top: -3px;
		left: 0;
		vertical-align: middle;
		transform: scale( 0.7 );
	}
}
