/* Prevent horizontal scroll with Firefox on small screens */
body {
	overflow-x: hidden;
}
/* Resets */
.banner,
.banner * {
	box-sizing: border-box;
}

.banner *:focus {
	outline: var( --outline-base--focus );
}

/* Styles */
.banner {
	display: none;
	position: relative;
	z-index: 3;
}

.banner.banner--visible {
	display: block;
}

.banner__close {
	position: absolute;
	margin-top: -24px;
	margin-right: -24px;
	padding: 12px;
	top: 0;
	right: 0;
	cursor: pointer;
	background: none;
	border: 0;
}

.banner__button {
	display: inline-block;
	text-decoration: none;
	border: 1px solid;
	border-radius: var( --border-radius-base );
	padding: 8px 12px;
	cursor: pointer;
	font-weight: bold;
	white-space: nowrap;
	line-height: 1;
	margin-top: 8px;
}

.banner__button:hover {
	text-decoration: none;
}

/* bottom banner styles */
.banner-bottom {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: none;
	margin: 0;
	border: 0;
	transform: none;
	background-color: transparent;
	font-family: 'Source Serif Pro', Georgia, Times, serif;
}

body.bottom-banner {
	padding-bottom: 235px;
}

.banner-bottom .banner__close {
	z-index: 2;
	right: 30px;
	top: 30px;
	color: #c0e6ff;
}

.banner-bottom .banner__close:hover {
	color: #fff;
}

.banner-bottom .banner__close:focus .banner__close-icon {
	outline: 1px solid;
}

.banner-bottom .banner__close-icon {
	width: 45px;
	height: 45px;
	display: inline-block;
}

.banner-bottom .banner__close-icon circle {
	fill: transparent;
	stroke: currentColor;
	stroke-width: 0.5;
}

.banner-bottom .banner__close-icon path {
	stroke: currentColor;
	stroke-width: 0.5;
}

.banner-bottom .portal-banner {
	background: #c0e6ff;
	border-top: 1px solid #c3d8ef;
}

.banner-bottom .portal-banner-content {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	transition: all 0.3s ease-in-out;
}

.banner-bottom .portal-banner-content-message {
	width: 100%;
	flex: 1 1 auto;
	max-width: 66.7%;
	margin: 0 auto;
	padding: 15px;
	text-align: left;
}

.banner-bottom .portal-banner-content-message h3 {
	margin: 0 0 0.5em;
	font-size: 26px;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.banner-bottom .portal-banner-content-message p {
	color: #000;
	text-align: left;
	margin: 0 0 0.5em;
	font-size: 16px;
	line-height: 1.4;
}

.banner-bottom .portal-banner-content-message p a {
	display: inline-block;
	background: #36c;
	color: #fff;
	padding: 7px 15px;
	border-radius: 3px;
	margin-left: 15px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.banner-bottom .portal-banner-content-message p a:hover {
	background: #447ff5;
}

.banner-bottom .portal-banner-content-message svg.wmf-identity {
	width: 150px;
	height: auto;
	margin-bottom: 5px;
}

.banner-bottom .portal-banner-donate-button {
	position: relative;
	flex: 0 0 400px;
	max-width: 400px;
	padding: 30px;
	background: #0e65c0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner-bottom .portal-banner-donate-button:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	width: 100vw;
	background: #0e65c0;
}

.banner-bottom .portal-banner-donate-button p {
	color: #fff;
	text-align: left;
	margin: 0 0 1em;
	font-size: 16px;
	line-height: 1.4;
}

.banner-bottom .portal-banner-donate-button p strong {
	color: #000;
	background: #f0bc00;
}

.banner-bottom .portal-banner .frb-submit {
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	margin: 0;
	background-color: #049dff;
	border-color: #049dff;
	color: #000;
	border-radius: 2px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.banner-bottom .portal-banner .frb-submit:hover {
	background: #447ff5;
	border-color: #447ff5;
}

.banner-bottom .portal-banner .frb-submit:focus {
	border-color: var( --border-color-progressive--focus );
	/* stylelint-disable value-list-comma-newline-after, declaration-colon-space-after */
	box-shadow: var( --box-shadow-inset-small ) var( --box-shadow-color-progressive--focus ),
		var( --box-shadow-inset-medium ) var( --box-shadow-color-inverted );
	/* stylelint-enable value-list-comma-newline-after, declaration-colon-space-after */
}

/* responsive styling */

@media ( max-width: 960px ) {
	.banner-bottom .banner__close {
		right: 20px;
		top: 20px;
	}
}

@media ( max-width: 768px ) {
	.banner-bottom .portal-banner-content {
		flex-direction: column;
	}

	.banner-bottom .portal-banner-content-message {
		flex: 0 1 auto;
		max-width: 100%;
	}

	.banner-bottom .portal-banner-donate-button {
		flex: 0 1 auto;
		max-width: 100%;
		padding: 15px;
	}

	.banner-bottom .banner__close {
		color: #36c;
	}

	.banner-bottom .banner__close:hover {
		color: #000;
	}

	.banner-bottom .portal-banner-content-message p {
		font-size: 14px;
		display: inline;
	}

	.banner-bottom .portal-banner-content-message h3 {
		font-size: 18px;
	}

	.banner-bottom .portal-banner-donate-button p {
		font-size: 15px;
	}

	.banner-bottom .portal-banner-content-message .wmf-identity {
		display: none;
	}
}

@media ( max-width: 500px ) {
	.banner-bottom .portal-banner-donate-button p:first-of-type {
		display: none;
	}
}

@media ( max-width: 400px ) {
	.banner-bottom .portal-banner-donate-button p {
		display: none;
	}
}

.banner--txt1 .txt2,
.banner--txt2 .txt1 {
	display: none;
}
