/* ::: Base ::: */
@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui.css';
@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui-mode-dark.css' only screen and ( prefers-color-scheme: dark );
@import '../../../common/assets/postcss/_vars.css';
@import '../../../common/assets/postcss/_base.css';
@import '../../../common/assets/postcss/_base-portal.css';
@import '../../../common/assets/postcss/_buttons.css';
@import '../../../common/assets/postcss/_forms.css';

/* ::: Sections ::: */
@import '../../../common/assets/postcss/_central-textlogo.css';
@import '../../../common/assets/postcss/_central-featured.css';
@import '../../../common/assets/postcss/_search.css';
@import '../../../common/assets/postcss/_search-suggestions.css';
@import '../../../common/assets/postcss/_search-language-picker.css';
@import '../../../common/assets/postcss/_other-projects.css';
@import '../../../common/assets/postcss/_other-languages.css';
@import '../../../common/assets/postcss/_other-languages-bookshelf.css';
@import '../../../common/assets/postcss/_app-badge.css';
@import '../../../common/assets/postcss/_footer.css';

/* ::: Special ::: */
@import '../../../common/assets/postcss/_wm-portal.css';
@import '../../../common/assets/postcss/_localization.css';
@import '../../../common/assets/postcss/_media-print.css';
@import '_banner.css';
@import '_wikipedia25.css';
