<div class="lang-list-button-wrapper">

<button id='js-lang-list-button' aria-expanded="false" aria-controls="js-lang-lists" class="lang-list-button">
    <i class="sprite svg-language-icon"></i>
    <span class="lang-list-button-text jsl10n" data-jsl10n="portal.language-button-text"> {{l10n.portal.language-button-text}} </span>
    <i class="sprite svg-arrow-down-blue"></i>
</button>

</div>
