{{> language-list-button }}

<div class="lang-list-border"></div>

<div class="lang-list-container">

    <div id="js-lang-lists" class="lang-list-content">
        {{> top-n-articles}}
        {{! Other languages }}
        {{> other-languages}}
    </div>

</div>