<nav data-jsl10n="other-projects-nav-label" aria-label="{{l10n.other-projects-nav-label}}" class="other-projects">
    {{#otherProjects}}
        {{> other-projects.item}}
    {{/otherProjects}}
</nav>