<div class="langlist langlist-others hlist" data-el-section="other languages">
    <a href="{{l10n.assets.lang.url}}" lang="{{lang}}" data-jsl10n="other-languages-label">{{l10n.other-languages-label}}</a>
</div>
