/* ::: Portal's base CSS ::: */

body {
	background-color: var( --background-color-base );
	font-family: var( --font-family-system-sans );
	font-size: 1.4rem;
	line-height: 1.5;
	margin: 0.4rem 0 1.6rem;
}

a {
	touch-action: manipulation;
}

a,
a:active,
a:focus {
	unicode-bidi: embed;
	outline: 0;
	color: var( --color-progressive );
	text-decoration: none;
}

a:focus {
	outline: 1px solid var( --outline-color-progressive--focus );
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
	vertical-align: middle;
}

hr {
	clear: both;
	height: 0;
	border: 0;
	border-bottom: var( --border-subtle );
	margin: 0.26rem 1.3rem;
}
