/* ::: Footer ::: */

.footer {
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	padding: 4.16rem 1.28rem 0;
	font-size: 1.3rem;
}

.footer::before,
.footer::after {
	content: ' ';
	display: table;
}

.footer::after {
	clear: both;
}

.footer-sidebar {
	width: 35%;
	float: left;
	clear: left;
	margin-bottom: 3.2rem;
	vertical-align: top;
}

.footer-sidebar-content {
	position: relative;
	max-width: 350px;
	margin: 0 auto;
}

.sprite.footer-sidebar-icon {
	position: absolute;
	top: 0;
	left: 0.8rem;
}

@media ( prefers-color-scheme: dark ) {
	.footer-sidebar-icon.sprite.svg-Wikimedia-logo_black {
		filter: invert( 100% );
	}
}

.footer-sidebar-text {
	position: relative;
	margin: 0;
	padding-left: 6rem;
	padding-right: 2rem;
	color: var( --color-subtle );
}

.site-license {
	color: var( --color-subtle );
	text-align: center;
}

.site-license small::after {
	content: '\2022'; /* bullet character */
	display: inline-block;
	font-size: 1.3rem;
	line-height: inherit;
	margin-left: 0.8rem; /* margins differ to account for inline-block white-space */
	margin-right: 0.5rem;
}

.site-license small:last-child::after {
	display: none;
}

.footer hr {
	margin-top: 1.28rem;
}

@media screen and ( max-width: 768px ) {
	.footer {
		display: flex;
		flex-direction: column;
		padding-top: 1.28rem;
	}

	.footer .footer-sidebar {
		order: 1;
	}

	.footer .other-projects {
		order: 2;
	}

	.footer .app-badges {
		order: 3;
	}

	.footer hr {
		order: 4;
	}

	.footer .site-license {
		order: 5;
	}

	.footer-sidebar {
		width: 100%;
	}

	.sprite.footer-sidebar-icon {
		display: block;
		position: relative;
		left: 0;
		margin: 0 auto 1.28rem auto;
	}

	.footer-sidebar-content {
		max-width: none;
	}

	.footer-sidebar-text {
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

@media screen and ( max-width: 480px ) {
	.footer {
		padding: 0.96rem 0.64rem 1.28rem;
	}
}
