<div class="banner banner-bottom" id="portalBanner_en10C_2526_blueBanner">
    <button type="button" class="banner__close">
        <svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16">
            <title id="banner__close-icon">Close</title>
            <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                <circle cx="7" cy="7" r="7"></circle>
                <path stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path>
            </g>
        </svg>
    </button>
    <div class="portal-banner">
        <div class="portal-banner-content">
            <div class="portal-banner-content-message">
                <svg class="wmf-identity" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 797.3 185.2" style="enable-background:new 0 0 797.3 185.2;" xml:space="preserve">
                <g>
                    <path d="M243.2,78.4l11.9-38.6h15.6l11.8,38.6l13.3-38.6h16.2l-23.4,67.1h-11.1l-14.7-46.7l-14.6,46.7h-11.1l-23.4-67.1h16.2   L243.2,78.4z"/>
                    <path d="M320.1,39.8h15v67.1h-15V39.8z"/>
                    <path d="M351.6,39.8h15v27.6l25.3-27.6h18.5l-26.7,29.7c2.3,3.2,6.6,9.2,12.8,17.9c6.2,8.7,10.8,15.2,13.9,19.5h-17.5l-19.7-26.5   l-6.7,7.5v19h-15V39.8z"/>
                    <path d="M419.7,39.8h15v67.1h-15V39.8z"/>
                    <path d="M511.3,64.7l-18.1,36.7h-8.9l-18-36.7v42.2h-15V39.8h20.3l17.3,36.9l17.4-36.9h20.2v67.1h-15V64.7z"/>
                    <path d="M591.2,39.8v13.3h-33.4V67h30v12.8h-30v13.9h34.5v13.2h-49.4V39.8H591.2z"/>
                    <path d="M656.8,48.6c6.4,5.9,9.6,14,9.6,24.4c0,10.4-3.1,18.7-9.4,24.8c-6.2,6.1-15.8,9.1-28.6,9.1h-22.9V39.8h23.7   C641.3,39.8,650.4,42.8,656.8,48.6z M645.9,88.5c3.7-3.5,5.5-8.5,5.5-15.1c0-6.6-1.8-11.7-5.5-15.2c-3.7-3.6-9.3-5.3-16.9-5.3h-8.4   v40.8h9.5C636.9,93.7,642.2,92,645.9,88.5z"/>
                    <path d="M679.4,39.8h15v67.1h-15V39.8z"/>
                    <path d="M758.7,106.9l-6.2-14.5h-28.1l-6.2,14.5h-15.9l29-67.1h14.5l29,67.1H758.7z M738.4,59.8L730,79.3h16.8L738.4,59.8z"/>
                </g>
                <g>
                    <path d="M241,137.4v8.1h13v4.6h-13v12.1h-5v-29.4h19.6l0,4.6H241z"/>
                    <path d="M311.2,158c-3,2.9-6.6,4.3-11,4.3c-4.4,0-8-1.4-11-4.3c-3-2.9-4.5-6.5-4.5-10.8c0-4.3,1.5-7.9,4.5-10.8   c3-2.9,6.6-4.3,11-4.3c4.4,0,8,1.4,11,4.3c3,2.9,4.5,6.5,4.5,10.8C315.7,151.5,314.2,155.1,311.2,158z M307.6,139.7   c-2-2.1-4.5-3.1-7.4-3.1s-5.4,1-7.4,3.1s-3,4.6-3,7.5c0,3,1,5.5,3,7.5s4.5,3.1,7.4,3.1s5.4-1,7.4-3.1s3-4.6,3-7.5   C310.6,144.2,309.6,141.7,307.6,139.7z"/>
                    <path d="M353.7,155.4c1.3,1.6,3.2,2.4,5.5,2.4s4.1-0.8,5.5-2.4s2-3.7,2-6.4v-16.3h5v16.5c0,4.2-1.2,7.5-3.5,9.8   c-2.3,2.3-5.3,3.4-8.9,3.4c-3.6,0-6.6-1.1-8.9-3.4s-3.5-5.5-3.5-9.8v-16.5h5V149C351.7,151.7,352.4,153.8,353.7,155.4z"/>
                    <path d="M426.6,132.7h5v29.4h-5.4l-16.6-21.4v21.4h-5v-29.4h5l17.1,21.9V132.7z"/>
                    <path d="M487.1,136.6c2.8,2.6,4.2,6.1,4.2,10.7c0,4.6-1.4,8.2-4.1,10.8c-2.7,2.7-6.9,4-12.6,4h-9.7v-29.4H475   C480.2,132.7,484.3,134,487.1,136.6z M486.4,147.4c0-6.7-3.9-10.1-11.5-10.1h-5v20.1h5.5c3.6,0,6.3-0.8,8.2-2.5   C485.4,153.2,486.4,150.7,486.4,147.4z"/>
                    <path d="M527.1,155.4l-2.9,6.7h-5.3l12.9-29.4h5.3l12.9,29.4h-5.3l-2.9-6.7H527.1z M539.8,150.8l-5.3-12.1l-5.3,12.1H539.8z"/>
                    <path d="M588.1,137.3v24.8h-5v-24.8h-8.9v-4.5H597v4.5H588.1z"/>
                    <path d="M627.6,132.7h5v29.4h-5V132.7z"/>
                    <path d="M690.4,158c-3,2.9-6.6,4.3-11,4.3c-4.4,0-8-1.4-11-4.3c-3-2.9-4.5-6.5-4.5-10.8c0-4.3,1.5-7.9,4.5-10.8   c3-2.9,6.6-4.3,11-4.3c4.4,0,8,1.4,11,4.3c3,2.9,4.5,6.5,4.5,10.8C694.9,151.5,693.4,155.1,690.4,158z M686.8,139.7   c-2-2.1-4.5-3.1-7.4-3.1s-5.4,1-7.4,3.1s-3,4.6-3,7.5c0,3,1,5.5,3,7.5s4.5,3.1,7.4,3.1s5.4-1,7.4-3.1s3-4.6,3-7.5   C689.8,144.2,688.8,141.7,686.8,139.7z"/>
                    <path d="M748.3,132.7h5v29.4h-5.4l-16.6-21.4v21.4h-5v-29.4h5l17.1,21.9V132.7z"/>
                </g>
                <g>
                    <path d="M108.3,144.4c25.3-3.6,44.7-25.3,44.7-51.5c0-16-7.2-30.2-18.5-39.8l-26.2,26.2V144.4z"/>
                    <path d="M93.6,144.4V79.3L67.4,53c-11.3,9.5-18.5,23.8-18.5,39.8C48.9,119.1,68.3,140.8,93.6,144.4z"/>
                    <path d="M146.2,47.6c12.1,12.1,18.7,28.2,18.7,45.2s-6.7,33.2-18.7,45.2c-12.1,12.1-28.2,18.7-45.2,18.7s-33.2-6.7-45.2-18.7   S37,109.9,37,92.8c0-17.1,6.7-33.2,18.7-45.2c1-1,2.1-2,3.2-3L44.3,30c-1.1,1-2.1,2-3.2,3C33.3,40.8,27.2,49.8,23,59.9   c-4.4,10.4-6.7,21.5-6.7,32.9c0,11.4,2.2,22.5,6.7,32.9c4.3,10.1,10.4,19.1,18.1,26.9c7.8,7.8,16.8,13.9,26.9,18.1   c10.4,4.4,21.5,6.7,32.9,6.7c11.4,0,22.5-2.2,32.9-6.7c10.1-4.3,19.1-10.4,26.9-18.1c7.8-7.8,13.9-16.8,18.1-26.9   c4.4-10.4,6.7-21.5,6.7-32.9c0-11.4-2.2-22.5-6.7-32.9c-4.3-10.1-10.4-19.1-18.1-26.9c-1-1-2.1-2-3.2-3L143,44.6   C144.1,45.5,145.1,46.5,146.2,47.6z"/>
                    <circle id="red_circle_3_" cx="100.9" cy="34.1" r="26.4"/>
                </g>
                </svg>
                <div class="txt1">
                    <h3>We owe you an explanation.</h3>
                    <p>You deserve an explanation, so please don't skip this 1-minute read. Our fundraiser won't last long, and we need some help to reach our goal. Less than 2% of our readers donate, but if everyone who saw this message gave <span class="banner__amount1">$2.75</span>, we'd hit our goal in a few hours. The rare few who donate do so because Wikipedia provides them with useful knowledge. If that sounds like you, please donate <span class="banner__amount1">$2.75</span>. Any contribution you make today helps.</p>
                </div>
            </div>
            <div class="portal-banner-donate-button">
                <div class="txt1">
                    <p>We ask you, sincerely: don't skip this. Be one of the rare readers who gives.</p>
                </div>
                <p><strong>There are no small contributions: every edit counts, every donation counts. Thank you.</strong></p>
                <a href="#" class="banner__button banner__button--progressive frb-submit">
                    Donate now
                </a>
				<a href="#" class="frb-iad">I already donated</a>
            </div>
        </div>
    </div>
</div>

<dialog class="frb-iad-dialog" closedby="any">
	<button class="frb-iad-dialog-close frb-dialog-back skin-invert">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.778" d="M7.181 13.285L.753 7 7.181.715"></path><rect fill="#000" width="18.182" height="1.778" x=".818" y="6.111" rx=".889"></rect></g></svg>
    </button>
	<div class="frb-w25-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.9 108.81"><path d="M137.48 1.5c0 .49-.17.93-.49 1.35-.29.42-.61.61-.98.61-3.01.29-5.48 1.26-7.4 2.93-1.91 1.63-3.9 4.76-5.94 9.4l-31.2 70.16c-.2.66-.78.98-1.72.98-.73 0-1.3-.32-1.72-.98L70.54 49.43 50.41 85.95c-.42.66-.98.98-1.71.98-.91 0-1.49-.32-1.78-.98L16.28 15.79c-1.91-4.37-3.93-7.39-6.06-9.1C8.1 4.94 5.14 3.86 1.35 3.45c-.32 0-.64-.17-.92-.49C.14 2.59 0 2.18 0 1.74 0 .6.32.02.98.02c2.73 0 5.59.13 8.56.37 2.77.24 5.38.37 7.83.37S22.8.64 26.18.39C29.72.15 32.87.02 35.6.02c.66 0 .98.56.98 1.71s-.2 1.71-.61 1.71c-2.73.2-4.89.9-6.48 2.08-1.54 1.17-2.33 2.73-2.33 4.64 0 .98.32 2.2.98 3.66l25.32 57.09L67.83 43.8 54.44 15.77c-2.4-5-4.37-8.22-5.94-9.65-1.54-1.47-3.9-2.36-7.03-2.69-.29 0-.56-.17-.86-.49-.24-.37-.37-.78-.37-1.22 0-1.14.29-1.71.86-1.71 2.73 0 5.23.12 7.52.37 2.2.24 4.55.37 7.03.37s5.04-.12 7.77-.37a98.1 98.1 0 0 1 8.32-.37c.66 0 .98.56.98 1.71s-.2 1.71-.61 1.71c-5.46.37-8.2 1.91-8.2 4.64 0 1.22.64 3.12 1.9 5.69l8.87 17.95 8.81-16.42c1.23-2.32 1.84-4.27 1.84-5.86 0-3.74-2.73-5.73-8.2-5.98-.49 0-.73-.56-.73-1.71 0-.42.12-.8.37-1.16.24-.37.49-.55.73-.55 1.96 0 4.37.12 7.22.37 2.73.24 4.99.37 6.72.37 1.26 0 3.12-.1 5.57-.3 3.1-.29 5.7-.43 7.77-.43.49 0 .73.49.73 1.47 0 1.3-.44 1.96-1.35 1.96-3.17.32-5.74 1.2-7.71 2.63-1.91 1.42-4.32 4.66-7.22 9.71L77.48 37.49l15.9 32.37 23.48-54.53c.81-1.99 1.22-3.83 1.22-5.49 0-3.99-2.73-6.1-8.2-6.35-.49 0-.73-.56-.73-1.71s.37-1.71 1.1-1.71c2 0 4.37.12 7.09.37 2.52.24 4.64.37 6.36.37s3.87-.12 6.23-.37c2.45-.24 4.64-.37 6.6-.37.56 0 .86.49.86 1.47h.06ZM242.54 28.07c-2.29 0-4.51.92-6.41 2.68-.47.43-1.04.67-1.67.67s-1.26-.24-1.73-.67c-.49-.47-.77-1.1-.77-1.79V.06h-28.95c-.69 0-1.32.27-1.79.77-.43.46-.67 1.09-.67 1.72s.23 1.19.67 1.66c1.76 1.9 2.68 4.1 2.68 6.4 0 6.25-6.93 11.34-15.45 11.34S173 16.86 173 10.61c0-2.29.92-4.5 2.7-6.4.43-.46.67-1.04.67-1.66s-.25-1.26-.67-1.72c-.47-.49-1.1-.77-1.79-.77h-28.95v28.9c0 .68.28 1.32.77 1.79.47.43 1.09.67 1.73.67s1.19-.23 1.67-.67c1.9-1.76 4.1-2.68 6.41-2.68 6.26 0 11.36 6.92 11.36 15.42s-5.1 15.42-11.36 15.42c-2.29 0-4.51-.92-6.41-2.68-.47-.43-1.04-.67-1.67-.67s-1.26.24-1.73.67c-.49.47-.77 1.1-.77 1.78v28.9h28.95c.69 0 1.32.28 1.79.77.43.47.67 1.09.67 1.72s-.23 1.19-.67 1.66c-1.76 1.9-2.68 4.1-2.68 6.4 0 6.25 6.93 11.34 15.45 11.34s15.45-5.09 15.45-11.34c0-2.29-.93-4.5-2.7-6.4-.43-.47-.67-1.04-.67-1.66s.24-1.26.67-1.72c.47-.49 1.1-.77 1.79-.77h28.95v-28.9c0-.68.28-1.32.77-1.78.47-.43 1.09-.67 1.73-.67s1.19.23 1.67.67c1.9 1.76 4.1 2.68 6.41 2.68 6.26 0 11.36-6.92 11.36-15.42s-5.1-15.42-11.36-15.42Zm-69.48 37.54h-.04l.16-1.7c.24-.78.94-1.77 2.12-2.98 1.16-1.2 3.52-3.28 7.07-6.22l5.19-4.32a19.9 19.9 0 0 0 2.22-2.16 12 12 0 0 0 1.58-2.4c.43-.86.75-1.78.94-2.76.21-.98.31-2.04.31-3.19 0-1.24-.31-2.3-.93-3.21-.62-.91-1.41-1.36-2.35-1.36-1.13 0-2.21.35-3.22 1.05-1.02.7-1.59 1.41-1.74 2.09-.09.43-.09.89 0 1.38.06.55.06.94.03 1.17-.12.54-.37 1.03-.75 1.44-.38.43-.81.75-1.3.98-.49.22-.99.33-1.47.33s-.94-.12-1.31-.35a2.11 2.11 0 0 1-.82-.91c-.18-.37-.26-.75-.26-1.15 0-.62.16-1.27.45-1.91.31-.65.72-1.27 1.25-1.86.54-.59 1.15-1.15 1.86-1.66.71-.53 1.48-.98 2.32-1.38 2.02-.95 4.2-1.43 6.58-1.43s4.23.56 5.78 1.7c1.56 1.14 2.35 2.76 2.35 4.85 0 .91-.07 1.74-.24 2.51-.17.77-.49 1.54-.99 2.32-.49.79-.97 1.48-1.42 2.07-.45.59-1.18 1.34-2.21 2.25-1.02.92-1.91 1.67-2.66 2.29-.76.61-1.9 1.53-3.39 2.73l-3.58 2.84c-1.67 1.32-2.78 2.9-3.34 4.73h6.52c1.15 0 2.18-.39 3.12-1.17.56-.48 1.14-1.15 1.7-2.01-.09.06 2.42 1.17 2.39 1.15-.93 2.63-1.79 4.72-2.56 6.25h-19.36Zm44.96-18.33h-.03c-.47.05-1.1.09-1.9.16l-1.58.12c-.26.02-.61.04-1.05.06-.44.02-.88.02-1.31.02-3.08 0-5.48-.1-7.22-.29-.34.89-1.18 3.24-2.45 7.06.65-.16 1.63-.3 2.94-.46 1.32-.16 2.36-.23 3.14-.23 2.46 0 4.37.65 5.74 1.93 1.36 1.28 2.04 3 2.04 5.11 0 4.12-1.75 7.75-5.23 10.93-2.61 2.36-5.49 3.53-8.65 3.53s-5.5-.49-7.06-1.48c-.97-.62-1.46-1.42-1.46-2.4 0-.77.31-1.44.91-2.04s1.35-.91 2.23-.91c1.67 0 2.78.68 3.34 2.08.62 1.6 1.37 2.4 2.24 2.4 1.43 0 2.73-.76 3.86-2.27.75-1 1.42-2.46 2.03-4.35.61-1.9.92-3.68.92-5.38 0-.93-.16-1.74-.47-2.38-.31-.65-.71-1.11-1.2-1.4-.49-.28-1.04-.42-1.64-.42-1.2 0-2.23.11-3.08.33-.85.22-4.64 1.04-4.64 1.04l5.39-15.87c.59.06 1.6.16 3.05.31 1.43.15 2.56.22 3.37.22.71 0 1.43-.02 2.16-.06.73-.05 1.34-.09 1.83-.13.49-.05 1.24-.12 2.24-.23 1-.11 1.83-.2 2.45-.24l.99.67L218 47.3Z" class="stw0"></path></svg>
    </div>
	<div class="frb-dialog-title">🎉 Thank you for donating recently! 🎉</div>
	<p class="frb-dialog-text">Your support means the world to us. We'll hide banners in this browser for the rest of our campaign.</p>
	<div class="frb-iad-dialog-buttons">
		<button class="frb-iad-dialog-close">Close</button>
	</div>
</dialog>
