<div class="banner" id="portalBanner_svSE_2122_txt_1">
	<div class="banner__close" tabindex="0">
		<svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"></circle><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path></g></svg>
	</div>
	<div class="banner__topbar">
		Vi skulle vilja be om din hjälp.
	</div>
	<div class="banner__main">
		<div class="banner__text">
			Om alla som läste det här skänkte <span class="banner__amount">30 kr</span>, skulle vi kunna hålla igång Wikipedia i flera år.
		</div>
		<a href="#" class="banner__button banner__button--progressive">
            Lämna Ett Bidrag
		</a>
	</div>
</div>
