<div class="banner" id="portalBanner_en6C_2021a_txt_1">
	<div class="banner__close" tabindex="0">
		<svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"></circle><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path></g></svg>
	</div>
	<div class="banner__topbar">
		We ask you, humbly, to help.
	</div>
	<div class="banner__main">
		<div class="banner__text">
			If Wikipedia has given you <span class="banner__amount">$2.75</span> worth of knowledge this year, take a minute to donate.
		</div>
		<a href="#" class="banner__button banner__button--progressive">
			Donate now
		</a>
	</div>
</div>

<div class="banner" id="portalBanner_en6C_2021a_txt_2">
	<div class="banner__close" tabindex="0">
		<svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"></circle><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path></g></svg>
	</div>
	<div class="banner__topbar">
		We ask you, humbly, to help.
	</div>
	<div class="banner__main">
		<div class="banner__text">
			If everyone reading this donated <span class="banner__amount">$2.75</span>, we could keep Wikipedia thriving for years.
		</div>
		<a href="#" class="banner__button banner__button--progressive">
			Donate now
		</a>
	</div>
</div>

<div class="banner" id="portalBanner_en6C_2021a_txt_3">
	<div class="banner__close" tabindex="0">
		<svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"></circle><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path></g></svg>
	</div>
	<div class="banner__topbar">
		We ask you, humbly, to help.
	</div>
	<div class="banner__main">
		<div class="banner__text">
			We know 98% of people will ignore this message. Be the rare exception who donates <span class="banner__amount">$2.75</span>.
		</div>
		<a href="#" class="banner__button banner__button--progressive">
			Donate now
		</a>
	</div>
</div>

<div class="banner" id="portalBanner_en6C_2021a_txt_4">
	<div class="banner__close" tabindex="0">
		<svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"></circle><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path></g></svg>
	</div>
	<div class="banner__topbar">
		We ask you, humbly, to help.
	</div>
	<div class="banner__main">
		<div class="banner__text">
			Our mission is to bring knowledge to everyone on the planet. You can help with just <span class="banner__amount">$2.75</span>.
		</div>
		<a href="#" class="banner__button banner__button--progressive">
			Donate now
		</a>
	</div>
</div>