<div class="banner banner-bottom" id="portalBanner_en6C_2024_blueBanner">
    <button type="button" class="banner__close">
        <svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16">
            <title id="banner__close-icon">Close</title>
            <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                <circle cx="7" cy="7" r="7"></circle>
                <path stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path>
            </g>
        </svg>
    </button>
    <div class="portal-banner">
        <div class="portal-banner-content">
            <div class="portal-banner-content-message">
                <svg class="wmf-identity" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 797.3 185.2" style="enable-background:new 0 0 797.3 185.2;" xml:space="preserve">
                <g>
                    <path d="M243.2,78.4l11.9-38.6h15.6l11.8,38.6l13.3-38.6h16.2l-23.4,67.1h-11.1l-14.7-46.7l-14.6,46.7h-11.1l-23.4-67.1h16.2   L243.2,78.4z"/>
                    <path d="M320.1,39.8h15v67.1h-15V39.8z"/>
                    <path d="M351.6,39.8h15v27.6l25.3-27.6h18.5l-26.7,29.7c2.3,3.2,6.6,9.2,12.8,17.9c6.2,8.7,10.8,15.2,13.9,19.5h-17.5l-19.7-26.5   l-6.7,7.5v19h-15V39.8z"/>
                    <path d="M419.7,39.8h15v67.1h-15V39.8z"/>
                    <path d="M511.3,64.7l-18.1,36.7h-8.9l-18-36.7v42.2h-15V39.8h20.3l17.3,36.9l17.4-36.9h20.2v67.1h-15V64.7z"/>
                    <path d="M591.2,39.8v13.3h-33.4V67h30v12.8h-30v13.9h34.5v13.2h-49.4V39.8H591.2z"/>
                    <path d="M656.8,48.6c6.4,5.9,9.6,14,9.6,24.4c0,10.4-3.1,18.7-9.4,24.8c-6.2,6.1-15.8,9.1-28.6,9.1h-22.9V39.8h23.7   C641.3,39.8,650.4,42.8,656.8,48.6z M645.9,88.5c3.7-3.5,5.5-8.5,5.5-15.1c0-6.6-1.8-11.7-5.5-15.2c-3.7-3.6-9.3-5.3-16.9-5.3h-8.4   v40.8h9.5C636.9,93.7,642.2,92,645.9,88.5z"/>
                    <path d="M679.4,39.8h15v67.1h-15V39.8z"/>
                    <path d="M758.7,106.9l-6.2-14.5h-28.1l-6.2,14.5h-15.9l29-67.1h14.5l29,67.1H758.7z M738.4,59.8L730,79.3h16.8L738.4,59.8z"/>
                </g>
                <g>
                    <path d="M241,137.4v8.1h13v4.6h-13v12.1h-5v-29.4h19.6l0,4.6H241z"/>
                    <path d="M311.2,158c-3,2.9-6.6,4.3-11,4.3c-4.4,0-8-1.4-11-4.3c-3-2.9-4.5-6.5-4.5-10.8c0-4.3,1.5-7.9,4.5-10.8   c3-2.9,6.6-4.3,11-4.3c4.4,0,8,1.4,11,4.3c3,2.9,4.5,6.5,4.5,10.8C315.7,151.5,314.2,155.1,311.2,158z M307.6,139.7   c-2-2.1-4.5-3.1-7.4-3.1s-5.4,1-7.4,3.1s-3,4.6-3,7.5c0,3,1,5.5,3,7.5s4.5,3.1,7.4,3.1s5.4-1,7.4-3.1s3-4.6,3-7.5   C310.6,144.2,309.6,141.7,307.6,139.7z"/>
                    <path d="M353.7,155.4c1.3,1.6,3.2,2.4,5.5,2.4s4.1-0.8,5.5-2.4s2-3.7,2-6.4v-16.3h5v16.5c0,4.2-1.2,7.5-3.5,9.8   c-2.3,2.3-5.3,3.4-8.9,3.4c-3.6,0-6.6-1.1-8.9-3.4s-3.5-5.5-3.5-9.8v-16.5h5V149C351.7,151.7,352.4,153.8,353.7,155.4z"/>
                    <path d="M426.6,132.7h5v29.4h-5.4l-16.6-21.4v21.4h-5v-29.4h5l17.1,21.9V132.7z"/>
                    <path d="M487.1,136.6c2.8,2.6,4.2,6.1,4.2,10.7c0,4.6-1.4,8.2-4.1,10.8c-2.7,2.7-6.9,4-12.6,4h-9.7v-29.4H475   C480.2,132.7,484.3,134,487.1,136.6z M486.4,147.4c0-6.7-3.9-10.1-11.5-10.1h-5v20.1h5.5c3.6,0,6.3-0.8,8.2-2.5   C485.4,153.2,486.4,150.7,486.4,147.4z"/>
                    <path d="M527.1,155.4l-2.9,6.7h-5.3l12.9-29.4h5.3l12.9,29.4h-5.3l-2.9-6.7H527.1z M539.8,150.8l-5.3-12.1l-5.3,12.1H539.8z"/>
                    <path d="M588.1,137.3v24.8h-5v-24.8h-8.9v-4.5H597v4.5H588.1z"/>
                    <path d="M627.6,132.7h5v29.4h-5V132.7z"/>
                    <path d="M690.4,158c-3,2.9-6.6,4.3-11,4.3c-4.4,0-8-1.4-11-4.3c-3-2.9-4.5-6.5-4.5-10.8c0-4.3,1.5-7.9,4.5-10.8   c3-2.9,6.6-4.3,11-4.3c4.4,0,8,1.4,11,4.3c3,2.9,4.5,6.5,4.5,10.8C694.9,151.5,693.4,155.1,690.4,158z M686.8,139.7   c-2-2.1-4.5-3.1-7.4-3.1s-5.4,1-7.4,3.1s-3,4.6-3,7.5c0,3,1,5.5,3,7.5s4.5,3.1,7.4,3.1s5.4-1,7.4-3.1s3-4.6,3-7.5   C689.8,144.2,688.8,141.7,686.8,139.7z"/>
                    <path d="M748.3,132.7h5v29.4h-5.4l-16.6-21.4v21.4h-5v-29.4h5l17.1,21.9V132.7z"/>
                </g>
                <g>
                    <path d="M108.3,144.4c25.3-3.6,44.7-25.3,44.7-51.5c0-16-7.2-30.2-18.5-39.8l-26.2,26.2V144.4z"/>
                    <path d="M93.6,144.4V79.3L67.4,53c-11.3,9.5-18.5,23.8-18.5,39.8C48.9,119.1,68.3,140.8,93.6,144.4z"/>
                    <path d="M146.2,47.6c12.1,12.1,18.7,28.2,18.7,45.2s-6.7,33.2-18.7,45.2c-12.1,12.1-28.2,18.7-45.2,18.7s-33.2-6.7-45.2-18.7   S37,109.9,37,92.8c0-17.1,6.7-33.2,18.7-45.2c1-1,2.1-2,3.2-3L44.3,30c-1.1,1-2.1,2-3.2,3C33.3,40.8,27.2,49.8,23,59.9   c-4.4,10.4-6.7,21.5-6.7,32.9c0,11.4,2.2,22.5,6.7,32.9c4.3,10.1,10.4,19.1,18.1,26.9c7.8,7.8,16.8,13.9,26.9,18.1   c10.4,4.4,21.5,6.7,32.9,6.7c11.4,0,22.5-2.2,32.9-6.7c10.1-4.3,19.1-10.4,26.9-18.1c7.8-7.8,13.9-16.8,18.1-26.9   c4.4-10.4,6.7-21.5,6.7-32.9c0-11.4-2.2-22.5-6.7-32.9c-4.3-10.1-10.4-19.1-18.1-26.9c-1-1-2.1-2-3.2-3L143,44.6   C144.1,45.5,145.1,46.5,146.2,47.6z"/>
                    <circle id="red_circle_3_" cx="100.9" cy="34.1" r="26.4"/>
                </g>
                </svg>
                <div class="txt1">
                    <h3>Wikipedia is not for sale.</h3>
                    <p><strong>Hi. Please don't skip this 1-minute read.</strong> Today, our nonprofit asks for your support. It matters. When Wikipedia was created, it was one of the first spaces online where you could learn for free, without ads. This space is yours. Just 2% of our readers donate, so whatever gift you can afford helps.</p>
                </div>
                <p>— <em>The Wikimedia Foundation, host of Wikipedia and its sister sites</em>.</p>
            </div>
            <div class="portal-banner-donate-button">
                <div class="txt1">
                    <p>If Wikipedia has given you <span class="banner__amount1">$2.75</span> worth of knowledge this year, please give back.</p>
                </div>
                <p><strong>There are no small contributions: every edit counts, every donation counts. Thank you.</strong></p>
                <a href="#" class="banner__button banner__button--progressive frb-submit">
                    Donate now
                </a>
            </div>
        </div>
    </div>
</div>

<div class="banner banner-overlay" id="portalBanner_en6C_2024_overlayBanner">
    <div class="overlay-banner">
        <div class="overlay-banner-main">
            <button class="frb-header-minimize overlay-banner-toggle" aria-label="minimize">
                <span class="frb-header-minimize-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><g><path d="m17.5 4.75-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z"></path></g></svg>
                </span>
            </button>
        <div class="overlay-banner-main-header">
            <a href="#">Donate now</a>
        </div>
        <div class="overlay-banner-main-scroll">
            <div class="overlay-banner-main-message">
                <div class="overlay-banner-main-message-greeting">Wikipedia still can't be sold.</div>
                <p class="overlay-banner-main-message-subheading">An important update for readers in <span class="banner__country">the United States</span>.</p>
                <p>
                    Please don't skip this 1-minute read. We're sorry to interrupt, but this message will only be up for a short time. We ask you to reflect on the number of times you visited Wikipedia this past year and whether you're able to give <span class="banner__amount1">$2.75</span> to the Wikimedia Foundation. If you can, please join the 2% of readers who give. If everyone reading this gave just <span class="banner__amount1">$2.75</span>, we'd hit our goal in a few hours.
                </p>
                <p>
                    In the age of AI, access to verifiable facts is crucial. Wikipedia is at the heart of online information, powering everything from your personal searches to emerging AI technologies. Your gift strengthens the knowledge of today and tomorrow.
                </p>
                <p>
                    If Wikipedia is one of the websites you use most and if the knowledge you gained here is valuable, please give <span class="banner__amount1">$2.75</span>. Every contribution helps: every edit, every gift counts.
                </p>
            </div>
            <div class="overlay-banner-main-amounts">
                <div class="frb-message frb-message-amount">
                    <span class="error-highlight">Please select an amount (<span class="banner__currency">USD</span>)</span>.
                    <span class="frb-explanation">The average donation in <span class="banner__country">the United States</span> is around <span class="banner__average">$13</span>. Many first-time donors give <span class="banner__amount1">$2.75</span>. All that matters is that you're choosing to stand up for free, open information; and for that, you have our gratitude.</span>
                </div>
                <div id="amountsGrid" class="button-grid">
                    <label class="banner-button button-33"><input type="radio" name="amount" value="2.75" class="sr-only"><span class="banner__amount1"></span></label>
                    <label class="banner-button button-33"><input type="radio" name="amount" value="5" class="sr-only"><span class="banner__currency"></span>5</label>
                    <label class="banner-button button-33"><input type="radio" name="amount" value="10" class="sr-only"><span class="banner__currency"></span>10</label>
                    <label class="banner-button button-33"><input type="radio" name="amount" value="20" class="sr-only"><span class="banner__currency"></span>20</label>
                    <label class="banner-button button-33"><input type="radio" name="amount" value="30" class="sr-only"><span class="banner__currency"></span>30</label>
                    <label class="banner-button button-33"><input type="radio" name="amount" value="50" class="sr-only"><span class="banner__currency"></span>50</label>
                    <label class="banner-button button-33"><input type="radio" name="amount" value="100" class="sr-only"><span class="banner__currency"></span>100</label>
                    <label class="banner-button button-67"><input type="radio" name="amount" value="Other" class="sr-only">Other</label>
                </div>
            </div>
            <div class="overlay-banner-main-frequency button-grid">
                <div class="frb-message error-highlight">How often would you like to donate?</div>
                <div id="frequencyGrid" class="button-grid">
                    <label class="banner-button button-50"><input type="radio" name="monthly" value="0" class="sr-only">One time</label>
                    <label class="banner-button button-50"><input type="radio" name="monthly" value="1" class="sr-only">Give monthly</label>
                </div>
            </div>
                <a href="#" id="frb-donate" class="frb-submit banner-button banner-button-disabled">Donate Now</a>
                <div class="overlay-banner-main-footer">
                    <div class="overlay-banner-main-footer-cta">
                        <svg class="frb-message-icon" aria-hidden="true" width="20" height="20" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><circle cx="10.492" cy="14.492" r="10.492"></circle><path d="M12.681 11.754l-2.267 7.864c-.125.45-.188.745-.188.885 0 .08.033.156.1.226.066.07.136.105.21.105.125 0 .25-.055.376-.165.332-.273.73-.767 1.194-1.482l.376.22c-1.113 1.94-2.296 2.91-3.55 2.91-.48 0-.86-.135-1.144-.404a1.349 1.349 0 0 1-.426-1.023c0-.273.062-.62.188-1.04l1.537-5.286c.147-.51.221-.892.221-1.15a.566.566 0 0 0-.21-.432c-.14-.125-.332-.188-.575-.188-.11 0-.243.004-.398.011l.144-.442 3.749-.609h.663zm-.685-5.087c.457 0 .842.159 1.156.475.313.318.47.701.47 1.15 0 .45-.16.834-.476 1.15-.317.318-.7.476-1.15.476-.443 0-.822-.158-1.14-.475a1.566 1.566 0 0 1-.475-1.15c0-.45.157-.833.47-1.15a1.549 1.549 0 0 1 1.145-.476z"></path></g></svg>
                        We ask you, sincerely: don't skip this, join the 2% of readers who give.
                    </div>
                    <div class="overlay-banner-main-footer-identity">
                        <img src="https://upload.wikimedia.org/wikipedia/donate/1/14/Wikimedia_Foundation_logo_-_wordmark.svg" alt="Wikimedia Foundation Logo">
                        Proud host of Wikipedia and its sister sites
                    </div>
                    <button type="button" class="button-center button-collapse overlay-banner-toggle">Collapse</button>
                </div>
            </div>
        </div>

        <div class="overlay-banner-mini">
            <div class="frb-conversation-open frb-bubble-message-close overlay-banner-toggle" aria-label="open" style="">
                <span class="frb-conversation-open-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><g><path d="m17.5 4.75-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z"></path></g></svg>
                </span>
            </div>
            <div class="frb-conversation-close frb-bubble-message-close overlay-banner-close" aria-label="close" style="">
                <span class="frb-conversation-close-icon"></span>
            </div>
            <div class="overlay-banner-mini-message overlay-banner-toggle">
                <svg class="frb-message-icon" aria-hidden="true" width="20" height="20" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><circle cx="10.492" cy="14.492" r="10.492"></circle><path d="M12.681 11.754l-2.267 7.864c-.125.45-.188.745-.188.885 0 .08.033.156.1.226.066.07.136.105.21.105.125 0 .25-.055.376-.165.332-.273.73-.767 1.194-1.482l.376.22c-1.113 1.94-2.296 2.91-3.55 2.91-.48 0-.86-.135-1.144-.404a1.349 1.349 0 0 1-.426-1.023c0-.273.062-.62.188-1.04l1.537-5.286c.147-.51.221-.892.221-1.15a.566.566 0 0 0-.21-.432c-.14-.125-.332-.188-.575-.188-.11 0-.243.004-.398.011l.144-.442 3.749-.609h.663zm-.685-5.087c.457 0 .842.159 1.156.475.313.318.47.701.47 1.15 0 .45-.16.834-.476 1.15-.317.318-.7.476-1.15.476-.443 0-.822-.158-1.14-.475a1.566 1.566 0 0 1-.475-1.15c0-.45.157-.833.47-1.15a1.549 1.549 0 0 1 1.145-.476z"></path></g></svg>
                <p>Sorry to interrupt, but this message will only be up for a short time. Please, donate <span class="banner__amount1">$2.75</span>.</p>
            </div>
        </div>
    </div>
</div>
