<div class="banner banner-bookmark" id="portalBanner_en6C_2023_dsn_1">
    <div class="banner__close" tabindex="0">
        <svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"></circle><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path></g></svg>
    </div>
    <div class="portal-banner">
      <div class="portal-banner-content">
        <div class="portal-banner-content-message">
          <p>If Wikipedia has given you <span class="banner__amount">$3</span> worth of knowledge this year, take a minute to donate.</p>
          <div class="portal-banner-donate-button">
              <a href="#" class="banner__button banner__button--progressive frb-submit">
                  Donate now</span>
              </a>
          </div>
        </div>
        <div id="bookmark-button">
          <div class="bookmark-button-text">We ask you, sincerely: don’t click away, join the 2% of readers who give.</div>
            <svg class="frb-icon frb-icon-info" role="img" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none">
                    <circle cx="8.035" cy="8.143" r="7.844"></circle>
                    <path d="M9.672 6.097l-1.695 5.879c-.094.336-.14.557-.14.662 0 .06.024.117.074.169.05.053.101.079.157.079a.428.428 0 0 0 .28-.124c.249-.204.547-.574.894-1.108l.28.165c-.831 1.45-1.716 2.175-2.653 2.175-.359 0-.644-.101-.856-.302a1.008 1.008 0 0 1-.318-.765c0-.204.046-.463.14-.777l1.15-3.953c.11-.38.165-.667.165-.86a.424.424 0 0 0-.157-.322c-.105-.094-.248-.14-.43-.14-.083 0-.182.002-.298.007l.108-.33 2.803-.455h.496zm-.513-3.804c.342 0 .63.119.864.356.234.237.352.524.352.86 0 .336-.119.623-.356.86-.225.232-.537.36-.86.355-.33 0-.615-.118-.852-.355a1.171 1.171 0 0 1-.355-.86c0-.336.117-.623.351-.86a1.16 1.16 0 0 1 .856-.356z"></path>
                </g>
            </svg>
        </div>
      </div>
    </div>
</div>
<div class="banner" id="portalBanner_en6C_2023_dsn_2">
    <div class="banner__close" tabindex="0">
        <svg class="banner__close-icon" xmlns="http://www.w3.org/2000/svg" aria-labelledby="banner__close-icon" width="16" height="16" viewBox="0 0 16 16"><title id="banner__close-icon">Close</title><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="7" cy="7" r="7" fill="#FFF" fill-rule="nonzero" stroke="#C8CCD1"></circle><path stroke="#72777D" stroke-linecap="round" d="M4.375 4.375l5.25 5.25m0-5.25l-5.25 5.25"></path></g></svg>
    </div>
    <div class="banner__topbar">
        We'll be quick:
    </div>
    <div class="banner__main">
        <div class="banner__text">
            If Wikipedia has given you <span class="banner__amount">$3</span> worth of knowledge this year, take a minute to donate.
        </div>
        <a href="#" class="banner__button banner__button--progressive">
            Donate now
        </a>
    </div>
</div>
