<div class="footer" data-el-section="other projects">

    <div class="footer-sidebar">
        <div class="footer-sidebar-content">
            <div class="footer-sidebar-icon sprite svg-Wikimedia-logo_black">
            </div>
            <div class="footer-sidebar-text jsl10n" data-jsl10n='footer-description'>
                Wikipedia is hosted by the <a href="//wikimediafoundation.org/">Wikimedia Foundation</a>, a non-profit organization that also hosts a range of other projects.
            </div>
            <div class="footer-sidebar-text">
                <a href="https://donate.wikimedia.org/?utm_medium=portal&utm_campaign=portalFooter&utm_source=portalFooter" target="_blank">
                    <span class="jsl10n" data-jsl10n="footer-donate">You can support our work with a donation.</span>
                </a>
            </div>
        </div>
    </div>

    {{> app-badges}}

    {{> other-projects}}

    </div>
</div>
