<div class="central-textlogo" style="font-size: 1em;">
    <img class="central-featured-logo" src="portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png" srcset="portal/wikipedia.org/assets/img/Wikipedia-logo-v2@1.5x.png 1.5x, portal/wikipedia.org/assets/img/Wikipedia-logo-v2@2x.png 2x" width="200" height="183" alt="Wikipedia">
    <h1 class="central-textlogo-wrapper">
        <span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
            Wikipedia
        </span>
        <strong class="jsl10n localized-slogan" data-jsl10n="slogan" >The Free Encyclopedia</strong>
    </h1>
</div>
