<div class="langlist langlist-others hlist" data-el-section="other languages">
    <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/List_of_Wikipedias" lang="{{lang}}" data-jsl10n="other-languages-label">Other languages</a>
</div>
