<p class="site-license">
    <small class="jsl10n" data-jsl10n="license">This page is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a></small>
    <small class="jsl10n" data-jsl10n="terms" ><a href="{{l10n.terms-link}}">{{l10n.terms}}</a></small>
    <small class="jsl10n" data-jsl10n="Privacy Policy"><a href="{{l10n.privacy-policy-link}}">{{l10n.privacy-policy}}</a></small>
</p>
