<footer class="footer" data-el-section="other projects">

    <div class="footer-sidebar">
        <div class="footer-sidebar-content">
            <div class="footer-sidebar-icon sprite svg-Wikimedia-logo_black">
            </div>
            <div class="footer-sidebar-text jsl10n" data-jsl10n='portal.footer-description'>
               {{{l10n.wiki.footer-description}}}
            </div>
            <div class="footer-sidebar-text">
                <a href="https://donate.wikimedia.org/?wmf_medium=portal&wmf_campaign=portalFooter&wmf_source=portalFooter" target="_blank">
                    <span class="jsl10n" data-jsl10n="footer-donate">{{l10n.footer-donate}}</span>
                </a>
            </div>
        </div>
    </div>

    {{> app-badges}}

    {{> wikipedia25-footer-sidebar}}

    {{> other-projects}}

    {{> divider}}

    {{> site-license }}
</footer>
