<div class="footer-sidebar wikipedia25-footer-sidebar">
    <div class="footer-sidebar-content">
        <div class="footer-sidebar-text">
            <span class="cdx-toggle-switch cdx-toggle-switch--align-switch">
                <input id="wikipedia25-birthday-mode-toggle-switch" class="cdx-toggle-switch__input" type="checkbox">
                <span class="cdx-toggle-switch__switch">
                    <span class="cdx-toggle-switch__switch__grip"></span>
                </span>
                <div class="cdx-toggle-switch__label cdx-label">
                    <label class="cdx-label__label jsl10n" for="wikipedia25-birthday-mode-toggle-switch"
                        data-jsl10n="portal.wikipedia25.birthday-mode-toggle-text">
                        {{l10n.wiki.wikipedia25.birthday-mode-toggle-text}}
                    </label>
                </div>
            </span>
        </div>
    </div>
</div>
